[2016-05-19 04:25] samreid opened #1 "Proportion Playground Master Checklist"
## Design
- [x] **Sim folder and design doc created** (Date: 06/20/2015)
  - [x] Create sim folder in [PhET Sim Design Folder](https://drive.google.com/drive/folders/0B6CMwxdP0NGYUUhvZnlCUDF0bGc) using phet-docs account
  - [x] Place design doc in the sim folder
- [x] **Sim suggestions doc reviewed**
- [x] **Learning goals and standards identified** (Date: 09/15/2015)
- [x] **Design concept comple

[2016-05-19 04:26] samreid opened #2 "AI files needed"
@ariel-phet said he would contact @mariahmaephet to request the artwork.

[2016-05-19 04:42] samreid opened #3 "When will the teachers be in town to create activities for this simulation?"
@ariel-phet mentioned that teachers would be in Boulder to create activities around this sim, but he wasn't sure when.  @kathy-phet can you comment?  It may be used as a 1st draft deadline.

[2016-05-19 04:43] samreid commented on #2
Note: some of the artwork is here in tasks: https://github.com/phetsims/tasks/issues/468

[2016-05-19 16:17] samreid commented on #3
@kathy-phet said this is not an in-person meeting, and @kathy-phet is still trying to find out the dates.  Something like June/July.  2-3 teachers in Colorado and 2-3 elsewhere.

[2016-05-21 13:32] samreid opened #4 "White paint doesn't show up too well on the background"
White paint doesn't show up too well on the bright background:

![image](https://cloud.githubusercontent.com/assets/679486/15448680/9fc814ca-1f25-11e6-9e15-65744cb1e5c9.png)

Tagging @kathy-phet @ariel-phet @amanda-phet @jonathanolson @krhensberry for suggestions.  Do Beth or Ian have github handles?

[2016-05-21 14:13] kathy-phet commented on #4
Hi Sam,

Don't worry about this right now. We can work on making this more visible with a stroke or a change in the background color down the road.

K

Sent from my iPhone

On May 21, 2016, at 7:32 AM, Sam Reid <notifications@github.com<mailto:notifications@github.com>> wrote:

White paint doesn't show up too well on the bright background:

[image]https://cloud.githubusercontent.com/assets/679486/

[2016-05-21 17:44] amanda-phet commented on #4
That is also not the final "splotch". We will try to give it a little more dimension, and a shadow could help with this problem.

Get Outlook for Androidhttps://aka.ms/ghei36

On Sat, May 21, 2016 at 7:13 AM -0700, "kathy-phet" <notifications@github.com<mailto:notifications@github.com>> wrote:

Hi Sam,

Don't worry about this right now. We can work on making this more visible with a stroke or a ch

[2016-05-21 17:52] samreid commented on #4
For drawing the color of the paint splotch, it is very convenient for it to be a vector definition (shape only).  If we use a raster, then we lose the ability to easily/quickly/smoothly change the color.  That being said, we could show the shadow/dimension in code or with another vector shape.

[2016-05-21 18:13] samreid commented on #4
I published a dev version that shows the paint, you can see the color issues here:
http://www.colorado.edu/physics/phet/dev/html/proportion-playground/1.0.0-dev.2/proportion-playground_en.html

Note: this uses cyan instead of blue so that color mixing can be done in RGB space.

[2016-05-22 01:47] ariel-phet commented on #2
@samreid the .ai files have been uploaded to drive

https://drive.google.com/drive/folders/0B-YvjkIIcS_aRVFvZ2NDYlZ6Qkk

There are several files

balloons.ai
beads.ai
crate.ai
fruitstand.ai
fruitstand2.ai
objects.ai

[2016-05-22 15:38] samreid opened #5 "Show repeated pattern when non-whole ratios"
@phetsims/beth-stade said:

@kathy-phet replied:

[2016-05-22 15:44] samreid commented on #2
I added the aforementioned AI files in the above commit and will close this issue. @ariel-phet and @mariahmaephet please let me know if there is new artwork.

[2016-05-22 15:44] #2 closed

[2016-05-22 16:45] samreid commented on #5
Fixed above, now it is detecting patterns like this:

![image](https://cloud.githubusercontent.com/assets/679486/15455187/390ba11c-200a-11e6-9bc9-faeda6cb365c.png)

I'll publish a new version for testing.

[2016-05-22 16:50] samreid commented on #5
Posted here and I'll send email to request review: http://www.colorado.edu/physics/phet/dev/html/proportion-playground/1.0.0-dev.3/proportion-playground_en.html

[2016-05-22 16:51] samreid commented on #5
I emailed

Putting this issue on hold until I receive feedback.

[2016-05-22 16:56] samreid commented on #4
A thin black outline seems great:
![image](https://cloud.githubusercontent.com/assets/679486/15455231/c52fd176-200b-11e6-9fca-7132d8920d93.png)

![image](https://cloud.githubusercontent.com/assets/679486/15455235/cd53bb92-200b-11e6-82e0-0c7d9e6376ea.png)

However, there is a glitch in the svg where there is a horizontal bar appearing at the top left.

[2016-05-23 19:50] samreid opened #6 "Beads too close together on necklace"
@kathy-phet said:

I was using it on my phone, and noticed the beads are really tight to each other and sometimes a bit overlapping. I'm wondering if a little space might help with counting the beads. Caveate that it might look fine on a full screen.

[2016-05-23 20:28] samreid commented on #5
@kathy-phet said:

Closing.

[2016-05-23 20:28] #5 closed

[2016-05-24 01:29] samreid opened #7 "1/19 and 1/20 both cost $0.05"
In the apple scene, the design doc suggested to show price per apple to the nearest penny.  However, with 1/19=0.0526 which rounds to $0.05 as well.

The same problem occurs for other numbers as well.

@kathy-phet @ariel-phet @amanda-phet @jonathanolson @krhensberry @phetsims/beth-stade how do you recommend to handle this (if anything)?

[2016-05-24 02:27] samreid commented on #6
In the above commit I made the beads smaller and further apart.  Putting on hold until next version for testing.

[2016-05-24 02:29] samreid opened #8 "Better look for a necklace with one bead"
The design doc calls for this:

![image](https://cloud.githubusercontent.com/assets/679486/15490424/0a90c026-2125-11e6-871d-caff7c41ae73.png)

[2016-05-24 15:54] samreid opened #9 "Better blue for the paint scene"
@amanda-phet said:

[2016-05-24 15:54] samreid opened #10 "Apples should start at 1"
@amanda-phet said:

[2016-05-24 15:54] samreid commented on #10
So you are saying the minimum number of apples would also be 1?  I'll make it so unless/until I hear otherwise.

[2016-05-24 15:57] amanda-phet commented on #10
Yes that is correct- the minimum number of apples should be 1.

[2016-05-24 15:59] samreid commented on #10
Thanks, will do.

[2016-05-24 16:29] #10 closed

[2016-05-24 16:55] samreid commented on #4
I fixed the glitch and will move forward with an outline in the next version.

[2016-05-24 16:55] #4 closed

[2016-05-24 16:55] samreid commented on #6
Fixed, so closing.  Everything can be reviewed in next version.

[2016-05-24 17:15] phet-steele opened #11 "Automated Testing Build Errors (5/24/2016 10:00 AM)"
[code]

[2016-05-24 17:52] #11 closed

[2016-05-24 19:07] samreid commented on #9
Fixed above, I matched it to the design doc, closing.

[2016-05-24 19:07] #9 closed

[2016-05-24 19:14] samreid commented on #8
Not perfect, but a step in the right direction:

![image](https://cloud.githubusercontent.com/assets/679486/15516744/79c796ea-21b1-11e6-967b-b41a20066d44.png)

[2016-05-25 18:13] samreid opened #12 "The left and right billiard tables are not vertically centered"

[2016-05-25 18:13] samreid opened #13 "Increase ball speed for larger tables?"
@ariel-phet suggested:

[2016-05-25 18:17] samreid commented on #13
I'd be interested to see what the current situation sounds like with sound effects, then to experiment increased ball speed and see what that sounds like.  Generally I agree with not having students watch an animation, but I'm not sure if the audio pattern will want to keep the same "beat".

[2016-05-25 21:29] amanda-phet commented on #8
Thanks for making an issue for this. What you have looks great to me (it doesn't need to look exactly like the mockup). On a related note, we want all of the necklaces, regardless of size, to have a gap so that it's easy to have a universal spot to start counting from.

The mockup is not perfect and might be too subtle, but this is sort of what I mean:
<img width="105" alt="screen shot 2016-05-25

[2016-05-25 21:34] amanda-phet commented on #13
As I think about the potential sound effects, I wonder what they will do for helping a student understand this representation better. We want students to notice the white pattern on the table, and the sound might accentuate the number of bounces more than the pattern. However, some tables, like 1xn or nxn, have a distinctive pattern that could be more pronounced with sound. Tables like 3x4 and 6x8

[2016-05-26 01:51] samreid opened #14 "DT too big on frame deactivation?"
![image](https://cloud.githubusercontent.com/assets/679486/15561358/18a27b9e-22b2-11e6-8505-b0909900b2c8.png)

[2016-05-26 04:15] samreid opened #15 "What is the source of this paint bucket image?"
I pulled this paint bucket image from the design doc:

![image](https://cloud.githubusercontent.com/assets/679486/15563470/14b4979c-22c6-11e6-90e9-ccdb805b769d.png)

Was it created by our artist or does it have a license encumbrance?

[2016-05-26 05:04] ariel-phet commented on #15
This is a question for @amanda-phet as I am not sure of the answer

[2016-05-26 11:56] amanda-phet commented on #15
I created it based on a Google image. It is a placeholder image, though. I think Mariah made a different image that we will use.

Get Outlook for Androidhttps://aka.ms/ghei36

On Wed, May 25, 2016 at 10:04 PM -0700, "Ariel Paul" <notifications@github.com<mailto:notifications@github.com>> wrote:

Assigned #15https://github.com/phetsims/proportion-playground/issues/15 to @amanda-phethttps://github.c

[2016-05-27 03:25] samreid opened #16 "Can the stroke go outside of the localBounds?"
Following the strategy in SpectrumNode, I'm using code like:

[code]

This generates the gradient used in the paint scenes.  However, afterwards, I add a stroke that goes outside of the local bounds (because the stroke is centered not "inner"):

[code]

I'm not familiar enough with scenery localBounds to know whether this is asking for trouble.  @jonathanolson can you comment?

[2016-05-27 04:23] jonathanolson commented on #16
Local bounds usually do include the stroke (at least with the default Path bounds method).

Scenery (in the general case) can exclude content outside of the local bounds, but this usually doesn't happen. It would generally need to have a layer fitted around it, and Scenery usually provides a few pixels of safety margin for anti-aliasing.

For peace of mind, I'd expand the bounds, or move the recta

[2016-05-27 15:27] samreid commented on #6
@phetsims/beth-stade said:

@kathy-phet and @amanda-phet said they would discuss the latest version, I'll leave it up to them to consider @phetsims/beth-stade's comment.

[2016-05-27 15:27] samreid opened #17 "Can the billiards tables be bigger?"
@phetsims/beth-stade said:

[2016-05-27 15:27] samreid commented on #17
@phetsims/beth-stade continued:

[2016-05-27 15:46] samreid commented on #16
Fixed by setting the localBounds on the image node, thanks for the suggestion @jonathanolson, closing.

[2016-05-27 15:46] #16 closed

[2016-05-27 20:08] amanda-phet commented on #17
We had lots of discussions about the size of the billiard table and decided on the maximum 20x20 table size and agreed that the 1x1 table was acceptable.

I think we need the black pockets because any of those three pockets could be the final one the ball exits through, and it's an important distinction from the original corner, especially as the tables increase in size. I think it's an important

[2016-05-27 20:21] bethstade commented on #17
Yes, 20x20, but perhaps we can tweak the actually visual size as the 1x1 is so very small, or reduce the border a bit.
I do think the black pockets are unneeded and distracting on the small tables, but it's an opinion of course.

----- Original Message -----From: Amanda McGarry notifications@github.comTo: phetsims/proportion-playground proportion-playground@noreply.github.comCc: bethstade stadee@c

[2016-05-29 21:52] samreid opened #18 "Screen icons are needed"
Currently the homescreen and navbar icons are solid rectangles.

[2016-05-29 21:54] samreid commented on #14
Fixed in a recent commit.

[2016-05-29 21:54] #14 closed

[2016-05-30 18:04] samreid opened #19 "offset / redraw issue where the table gets off center"
@kathy-phet said:

![image](https://cloud.githubusercontent.com/assets/679486/15655881/ae00547c-265e-11e6-8ad6-001fce963976.png)

[2016-05-30 18:06] samreid opened #20 "Can the spinner show a $ sign?"
@kathy-phet said:

--- Note --none of these are critical for Wed.  But they would be valued if available.

[2016-05-30 18:07] samreid opened #21 "Write the price tags as "per apple""
@kathy-phet said:

And write the $0.50 as $0.50/1 apple --- with a horizontal divider line. As it is written in unit rates.

--- Note --none of these are critical for Wed.  But they would be valued if available.

[2016-05-30 18:35] samreid commented on #19
Fixed above, on hold until published for testing.

[2016-05-30 18:52] samreid commented on #20
Fixed above.

[2016-05-30 19:48] samreid commented on #21
Perhaps this is how it looks in unit rates:

![image](https://cloud.githubusercontent.com/assets/679486/15657337/2678ee74-266d-11e6-8dfd-4a9d95937428.png)

[2016-05-30 19:54] samreid commented on #21
New price tag is looking like this:

![image](https://cloud.githubusercontent.com/assets/679486/15657446/0fa0068c-266e-11e6-8a68-013d7f568356.png)

[2016-05-30 19:59] samreid commented on #21
Published in http://www.colorado.edu/physics/phet/dev/html/proportion-playground/1.0.0-dev.12/proportion-playground_en.html

I'll email @kathy-phet to review.

[2016-05-30 19:59] samreid commented on #20
Published in http://www.colorado.edu/physics/phet/dev/html/proportion-playground/1.0.0-dev.12/proportion-playground_en.html

I'll email @kathy-phet to review.

[2016-05-30 19:59] samreid commented on #19
Published in http://www.colorado.edu/physics/phet/dev/html/proportion-playground/1.0.0-dev.12/proportion-playground_en.html

I'll email @kathy-phet to review.

[2016-06-01 13:51] amanda-phet commented on #20
In the 12/22 design meeting we decided not to use $ because it is regional, but instead use a coin as the currency. The mockups in the design doc do not reflect that because I went on leave before finishing them, but there is a mockup in the "next meeting" notes that I created right before going on my leave for discussions that would happen without me.

I think we should reconsider the currency he

[2016-06-01 13:52] amanda-phet commented on #21
I think this looks really good.

[2016-06-01 13:57] samreid commented on #20
I have made symbol internationalizable, so that translators could use symbols like £, € or any other unicode symbol or word, and place it before or after the number, or omit it altogether.

[2016-06-01 15:22] samreid commented on #21
Thanks @amanda-phet, I'll close the issue.

[2016-06-01 15:22] #21 closed

[2016-06-01 20:41] ariel-phet opened #22 "Improvements to necklace geometry"
As a first small project @andrea-phet will be working on seeing if she can improve the necklace geometry to more closely match the design document.

This issue will be to track progress.

[2016-06-02 17:44] samreid commented on #22
The design doc requests the necklace to look like this:

![image](https://cloud.githubusercontent.com/assets/679486/15754730/ddf1f14a-28b6-11e6-98eb-7b8435572ee2.png)

The simulation currently looks like this:
![image](https://cloud.githubusercontent.com/assets/679486/15754754/f67919be-28b6-11e6-8719-0b3f341fe335.png)

Don't worry about the overall size and scaling.  Note that the requested one is

[2016-06-06 18:18] andrea-phet opened #23 "Refactoring of the necklace pattern search"
In proportion-playground/js/explore/view/necklace/StaticNecklaceNode.js I saw this algorithm to search for a bead pattern:

[code]

I think a faster way is to use one for loop to find the greatest common divisor:

[code]

[2016-06-06 19:48] andrealin commented on #22
@ariel-phet @samreid Here is my progress so far:

For the gap in the necklace that students use to start counting, I added one to the number of points `var numberPoints = numBeads + 1;` and chose the last-first pair to be the gap. I moved the center of the last-first pair of vertices out a bit, to match the design.

[code]

To make the necklace more lumpy, I chose a random point inside the polygon

[2016-06-06 20:55] ariel-phet commented on #23
@samreid can you review the above solution and give any comments, @andrea-phet and I looked together to try to follow the style guidelines and good commenting habits. Please point out anything that should be fixed, or improved!

[2016-06-06 20:56] ariel-phet commented on #23
Marking as high priority since this should be quick and best to start good habits early

[2016-06-06 21:03] samreid commented on #23
Sure, I'll take a look!

[2016-06-06 21:34] samreid commented on #23
The algorithm looks great, nice work!  I tested it for all 441 combinations of a and b and it is giving equivalent results to the brute force search (aside from a===0 or b==0 which is fine).

Regarding the commenting:
- This function has local scope, thus the `@private` annotation is redundant and should be removed.
- Our style guide http://bit.ly/phet-development-overview recommends limiting line

[2016-06-06 22:23] amanda-phet commented on #20
That seems like a great solution- I didn't realize that was possible.

Not sure if you're still waiting on @kathy-phet 's review so I'll assign back to you Sam.

[2016-06-06 22:24] samreid commented on #20
OK seems good, closing.

[2016-06-06 22:24] #20 closed

[2016-06-06 22:24] kathy-phet commented on #20
I do like the solution. It also seems like the translator can then just remove it if there isn't a symbol that makes sense.

[2016-06-06 22:34] samreid commented on #22
@andrea-phet thanks for the status update, it is looking good so far.  Please feel free to check in to master if you wish, since this seems like a good direction to go in.  Once you are ready for a more thorough review, please let me know and I'll take a closer look.

[2016-06-06 23:10] amanda-phet commented on #22
As far as matching the design doc... the necklace doesn't need to be too lumpy, but the space at the top is definitely important. It's all looking really good to me!

[2016-06-07 16:53] phet-steele opened #24 "Automated Testing Build Error (6/7/2016 10:00 AM)"
[code]

[2016-06-07 16:55] samreid commented on #24
Greetings @andrea-phet!  I am glad to see your commits for proportion-playground.  @phet-steele noticed that some of the code isn't passing the lint test.  You can run:

cd proportion-playground
npm install
grunt

to build the simulation, it will report any lint problems if they appear.  Can you take a look at the issues identified above and address them?

[2016-06-07 20:48] #24 closed

[2016-06-10 20:00] andrealin commented on #22
Since the last status update, I made the necklace line in the gap and on smaller polygons more smooth. I resized the necklace to prevent overlap, and committed the changes to master https://github.com/phetsims/proportion-playground/commit/31aeeb0d75234cb4f23d3fd8e167a16b5f0f2026 (also above).

Saw #8 so the single beaded necklace now looks like this:
![image](https://cloud.githubusercontent.com/as

[2016-06-10 20:15] samreid commented on #22
Nice work @andrea-phet, I published a version with these changes here:
http://www.colorado.edu/physics/phet/dev/html/proportion-playground/1.0.0-dev.13/proportion-playground_en.html

@amanda-phet @kathy-phet and @phetsims/beth-stade please review at your convenience.

[2016-06-11 00:22] andrealin commented on #8
The commit above makes the necklace with one bead look more like the design, and more importantly it adds a gap situated at the top of the necklace. This was also discussed in the issue above.

[2016-06-11 00:56] andrea-phet opened #25 "Make indicators on Apples scene graph the same distance"
@phet-steele noticed that in Apple scene, the right indicator triangle is further away from the line than the left indicator triangle:
![image](https://cloud.githubusercontent.com/assets/7988696/15982043/d7263778-2f3b-11e6-868e-6e1787f61763.png)

[2016-06-11 01:04] andrealin commented on #25
Fixed in commit https://github.com/phetsims/proportion-playground/commit/1e081493e1a34f3a71ec5c7ab2dc4f0249f359d2 by changing the right and left boundaries of the indicator triangles:

[code]

(original:

[code]

)

It now looks even:
![image](https://cloud.githubusercontent.com/assets/7988696/15982073/5e2f060a-2f3c-11e6-8551-a65770f1a5e7.png)

@ariel-phet @samreid Is this a good thing to document

[2016-06-11 22:00] samreid commented on #25
Yes, creating an issue for things like this has many advantages from a project management and maintenance side.  The main exception to this rule is when a new simulation or project is being started--in that case, many commits may be made before the first issues are created.

[2016-06-11 22:01] samreid commented on #25
The code change and new screen shot depicted above look great, you may close the issue if there is nothing else to do here.

[2016-06-12 17:22] andrealin commented on #25
Sounds good. Closing.

[2016-06-12 17:22] #25 closed

[2016-06-13 15:46] amanda-phet commented on #22
I think it's looking really good!

One question I have for the team (and maybe want to extend to other design team members) is whether we want necklaces of the same size to be the same shape. Or, if two necklaces with identical bead patterns should have the same shape as well. Here is one example of looking different:
<img width="500" alt="screen shot 2016-06-13 at 9 43 21 am" src="https://cloud.g

[2016-06-13 17:44] ariel-phet commented on #22
It does seem important to implement a rule that if the necklaces match (20 & 5) for instance we match the two necklaces. I think @andrea-phet could create a simple rule that if one necklace is already set to a particular value if the other necklace is set to that same value the second necklace borrows the pattern from the first.

[2016-06-13 17:57] samreid commented on #22
Another possible way to implement this would be to choose randomNumber, randomAngle and randomRadius deterministically as a function of the total number of beads (rather than randomly each time).  Then the left/right necklaces would match when their number of beads is the same.  I agree that the necklaces should have the same shape when the number of beads is the same, @andrea-phet you can decide

[2016-06-13 18:18] andrealin commented on #22
Will do. I will be away from my computer this week, so it is not too late for me to accomplish this next week?

[2016-06-13 18:21] ariel-phet commented on #22
@andrea-phet yes, no rush

[2016-06-20 16:30] andrealin commented on #22
I have changed the code so that necklaces with identical bead patterns have the shape. Before I commit, here's an idea: what if necklaces with the same proportion also had the same shape? It's pretty subtle, but it would look something like this:

![image](https://cloud.githubusercontent.com/assets/7988696/16201705/d808a9f0-36cf-11e6-9391-3710e18eeee1.png)

All necklaces with only round beads woul

[2016-06-20 16:35] amanda-phet commented on #22
I think that's a great idea! The examples you showed illustrate this really well.

[2016-06-20 19:42] andrealin commented on #23
Closing this.

[2016-06-20 19:42] #23 closed

[2016-06-22 22:07] andrealin commented on #22
@amanda-phet if you feel this is all good, feel free to close.

[2016-06-22 22:26] andrealin commented on #8
@amanda-phet could you please take at latest version of [proportion playground](http://phettest.colorado.edu/proportion-playground/proportion-playground_en.html?ea&brand=phet) ? ( vpn needed to look at phettest) The necklace with one round bead now has the same shape as a necklace with any number of round beads, same with the necklace with one square bead. No rush, but happy to hear your feedback

[2016-06-22 22:28] amanda-phet commented on #22
I can't see this until I'm on campus (tomorrow), so I will play with it a bit then and close the issue if it all seems good!

[2016-06-22 22:28] andrea-phet opened #26 "Dragging a side to change the dimensions of the table"
@ariel-phet told me that it's been discussed it would be nice if one could drag a corner of the billiard table to change the dimensions. Self assigning.

[2016-06-22 22:31] amanda-phet commented on #26
I believe the discussion was to drag a side of the table, not a corner. It has a bit more impact to see just one dimension change at a time.

A design issue with this is that the table is centered around a specific point, so as the table resizes it will also jump around to re-center.

I'm happy to skype with you about this to brainstorm how it could look and function!

[2016-06-22 22:38] amanda-phet commented on #8
I got the VPN working- looks great!

[2016-06-22 22:38] #8 closed

[2016-06-22 22:40] amanda-phet commented on #22
Looks great to me. Your ideas were spot on and I think they were executed well!

[2016-06-22 22:40] #22 closed

[2016-06-23 00:29] andrealin commented on #26
That would make sense. Perhaps side and corner? Let me get acquainted with the code to see what I can manage to do, and then we can skype.

[2016-06-30 22:03] andrealin commented on #26
@amanda-phet would you have time to skype some time next week?

[2016-07-06 18:47] andrea-phet opened #27 "Color of spinners"
@amanda-phet noticed that all the spinners are blue, except for on the paint scene. Perhaps, use black or color code based on what they are controlling.

[2016-07-06 18:48] andrealin commented on #27
Today's meeting notes about this, also on the design doc:

[2016-07-06 18:51] andrea-phet opened #28 "Toggles are jumping between scenes"
@amanda-phet noticed (see meeting notes in design doc)

[2016-07-07 20:10] andrealin commented on #26
@amanda-phet the basic functionality is all set. Assigning back to you for design decisions, such as a handle for a visual cue. Will expand the mouse and finger touch areas when visual cue has been decided on.

[2016-07-07 20:20] andrealin commented on #27
@amanda-phet take a look on [phettest](http://phettest.colorado.edu/proportion-playground/proportion-playground_en.html?ea&brand=phet), and feel free to close.

[2016-07-25 14:05] amanda-phet commented on #27
Looks great.

[2016-07-25 14:05] #27 closed

[2016-07-28 18:21] andrealin commented on #28
@amanda-phet Here is the latest dev version: http://www.colorado.edu/physics/phet/dev/html/proportion-playground/1.0.0-dev.14/proportion-playground_en.html Could you take a look when you have time?

[2016-07-28 18:56] amanda-phet commented on #28
Beautiful!

If we change the artwork next to the toggles, will this need to be tweaked again? Or should it be able to handle new artwork? (Not saying this will happen, but you never know!)

[2016-07-29 00:39] andrealin commented on #28
@amanda-phet This implementation should be able to handle new artwork. The artwork would become scaled when it is created as an icon, and as long as that icon next to the toggles is not much bigger in height than the toggle (1.6 times bigger, to be exact ), the toggles will not move. Thanks for mentioning this, I will also add documentation in the code to explain this.

[2016-08-03 19:48] amanda-phet commented on #28
Great! I'll go ahead and close this issue then.

[2016-08-03 19:48] #28 closed

[2016-08-25 23:37] pixelzoom opened #29 "sim relies on align:'right' default for Panels"
Related to https://github.com/phetsims/sun/issues/252, this sim relies on the old default of `align:'right'` for Panels.  Below are the stack traces for occurrences that need to be checked. These are the occurrences noted when loading the sim in requirejs mode. If the sim creates Panels dynamically, you should do further checking with fuzzMouse.

[code]

[2016-08-26 14:35] pixelzoom commented on #29
None of the above call sites use the `minWidth` option, so their behavior will be unaffected.  Closing.

[2016-08-26 14:35] #29 closed

[2016-09-22 16:39] samreid commented on #3
This happened a few months ago, closing.

[2016-09-22 16:39] #3 closed

[2016-10-31 21:04] pixelzoom opened #30 "Replace getQueryParameter with QueryStringMachine"
Factored out of https://github.com/phetsims/query-string-machine/issues/15

[2016-10-31 21:38] pixelzoom commented on #30
This sim doesn't have a *QueryParameters file, so I'm not going to do the conversion.

[2016-11-14 00:36] pixelzoom commented on #30
Difficult to complete phetsims/query-string-machine#15 without addressing this, so I did it.

Closing.

[2016-11-14 00:36] #30 closed

[2016-11-23 20:25] ariel-phet opened #31 "Review current state of the sim"
@jonathanolson as discussed, it would be good to review the current state of the code in the sim and get a feel for how much work will need to be done to bring it up to code standards and such.

It would be good to do this initial review the week of 11/28/2016 after meeting with @amanda-phet to make sure you are clear on the learning goals and flow of the sim.

[2016-12-09 17:32] amanda-phet commented on #13
Discussed in 12/8 meeting and @jonathanolson will play around with the speed so that bigger tables move slightly faster than smaller tables.

[2016-12-09 17:33] amanda-phet commented on #7
This has been discussed in Unit Rates and we are fine with leaving this how it is.

[2016-12-09 17:33] #7 closed

[2016-12-09 17:44] amanda-phet opened #32 "Tweak button behavior on Predict screen"
1. When opening the Predict screen, the "show/hide" button should appear disabled until the user interacts with a spinner. After a spinner is touched, the button appears to be enabled.

2. The current implementation is going for a "depressed" look when pressed. Instead, we'd like to use the same appearance as the Function Builder Mystery screen, where the button toggles between an open eye and an

[2016-12-09 17:47] amanda-phet opened #33 "Add animation to paint scene"
When the user clicks a spinner on the paint scene, a "ball" of paint should fly toward the paint splotch to indicate why it is growing in size.

[2016-12-09 17:52] amanda-phet opened #34 "Make the beads look realistic"
The beads on the necklace scene should have a more "3-D" feel. The round beads can be simply handled with the usual light source from the top-right (similar to how molecules look). The square beads will need something more in the code, since they rotate around the necklace. @jonathanolson will work on a programmatic approach for this that does not require drawing a gradient for every instance of t

[2016-12-09 17:54] amanda-phet opened #35 "Add radio buttons to paint scene"
There should be three radio buttons on the paint scene, each with a representative gradient for the color choices. THe default selection is blue-yellow. With the addition of these ratio buttons, the "Black & White" checkbox should be removed.

![screen shot 2016-12-09 at 10 53 15 am](https://cloud.githubusercontent.com/assets/7852916/21058996/bc07b1d2-bdfd-11e6-9eb1-dbeaa467ffba.png)

[2016-12-10 01:18] jonathanolson commented on #32
(1) and (2) are done. Wasn't sure about whether it is scene-specific or screen-specific (currently handling it for each scene), or what reset-all should do (resets it to disabled), let me know about changes.

Not really sure what location you mean, is it one of the following (black circles):
![screen shot 2016-12-09 at 6 10 24 pm](https://cloud.githubusercontent.com/assets/480878/21069893/ab4b5a7c

[2016-12-10 07:54] jonathanolson commented on #35
Implemented.

Also I'd like to note I've reworked the code for generating the color values to one that should be much closer to physically accurate (using the weighted geometric mean to approximate subtractive color from experimental evidence with watercolor paint, http://www.handprint.com/HP/WCL/color3.html#mixprofile and http://scottburns.us/subtractive-color-mixture/, and then applying gamma co

[2016-12-10 07:56] jonathanolson commented on #35
Also, the current paint colors in hexadecimal RGB are:
[code]
in case it doesn't need tweaks (and the colors need to be hard-coded into the bucket images).

I can also set up a color profile editor that will allow anyone to test different colors if desired (in the same style as http://phettest.colorado.edu/molecule-shapes/molecule-shapes-colors.html).

[2016-12-12 22:37] amanda-phet commented on #32
For (3) I meant to continue the work you were doing to put the button in a reasonable location. In the Billiards scene, when two tables are displayed, the button would be centered at the bottom of the screen above the toggle. I see now that it can't be in the exact same location as the other scenes, due to the size of the table, but where it is now still seems better than off to the left side.

Th

[2016-12-12 22:37] #32 closed

[2016-12-12 22:42] amanda-phet commented on #35
Thank you- I will need those colors soon.

The colors are looking great to me. Thank you for making them look more like mixing paint!

[2016-12-12 22:42] #35 closed

[2016-12-12 22:49] amanda-phet opened #36 "Small tweaks"
1. The triangle on the paint scene gradient should have no fill (it is currently white), could be slightly smaller, and could be more isosceles than equilateral.

![screen shot 2016-12-12 at 3 47 23 pm](https://cloud.githubusercontent.com/assets/7852916/21120014/76939198-c082-11e6-82dc-ef77ca08b94e.png)

2. The triangle on the apple scene cost meter should match what we decide on in the paint scen

[2016-12-13 01:18] jonathanolson commented on #36
Done.

Added a fill (same as the background) on the arrow in the apple scene to prevent the following appearance:
![prop-no-fill](https://cloud.githubusercontent.com/assets/480878/21123640/1dfb3a12-c097-11e6-95f8-43a71e0226dc.PNG)
as I presume that isn't desired (let me know if it should look like that).

Also, there's somewhat a mix of capitalization, with "Total Cost", "Apple cost", "Cost per ap

[2016-12-13 02:58] jonathanolson commented on #34
Made an initial attempt, with some color changes to more closely match the colors displayed in the mock-up above:

![prop-bead-attempt-1](https://cloud.githubusercontent.com/assets/480878/21125753/1db975f6-c0a5-11e6-8c4e-ca2e730c0dac.PNG)

If we notice any performance issues with gradients, we can handle it then.

Thoughts on the appearance?

[2016-12-13 08:14] jonathanolson commented on #33
Implemented on a branch, see http://www.colorado.edu/physics/phet/dev/html/proportion-playground/1.0.0-dev.15-paintballoons/proportion-playground_en.html for testing.

I chose to only update the splotch/arrows when the "balloon" actually hits. Removing paint removes it immediately (throwing something to soak paint didn't sound helpful), but it seems a bit weird.

Personally, it feels more playful

[2016-12-13 09:22] jonathanolson commented on #13
Implemented my best attempt so far at http://www.colorado.edu/physics/phet/dev/html/proportion-playground/1.0.0-dev.16/proportion-playground_en.html.

If that doesn't look good (or could use some tweaks), this dev release also features a fun (very temporary) query parameter 'billiardSpeed', that allows you to type in your own formula with the following:

- distance (amount of distance covered by t

[2016-12-13 17:38] amanda-phet commented on #36
Looks great. We may need something similar on the paint scene.. or is there room to just add more space between the paint splotch and the gradient?
![screen shot 2016-12-13 at 10 35 55 am](https://cloud.githubusercontent.com/assets/7852916/21151498/f71025c8-c11f-11e6-9fdd-fd6131a26dee.png)

That is not by design, and should be improved. We generally do "title case", right? So that means we should

[2016-12-13 18:36] amanda-phet commented on #34
The appearance looks great to me!

[2016-12-13 18:54] jonathanolson commented on #36
Pushed the splotches slightly further away to avoid overlap, and fixed title casing (as length=>Length, width=>Width).

Do those changes look good?

[2016-12-13 19:01] amanda-phet commented on #33
I don't mind the extra wait time while the ball flies.. this is looking great.

For the removal, could a ball of paint sort of "drip" off, and just fall vertically off the screen? I don't terribly mind the removal as it is if we can't think of something.

[2016-12-13 19:17] amanda-phet opened #37 "Add pattern readout to Bead scene"
As discussed in the 12/8/16 design meeting, we want to add a representation to help students interpret the ratios in the Bead scene. The pattern should be simple, abstracted beads (flat, no gradient) that start just under the word Pattern. This strand should be the simplified ratio of beads. The screenshot below shows en example for two different necklaces.

The height of the box needs to be able

[2016-12-13 19:19] amanda-phet opened #38 "Make currency translatable"
On the Apple scene, there is a dollar sign in the spinner and in the unit rate. This symbol should be made translatable.

[2016-12-13 19:21] jonathanolson commented on #33
@ariel-phet was mentioning that paint balloons could fly off in the reverse direction when paint is removed, and that would be easy to animate. Any thoughts on that?

[2016-12-13 19:26] amanda-phet commented on #33
If I add paint and then remove before the balloons have finished flying, there could be a strange overlap. If it's easy to implement we can see how it looks, but I'm thinking the two paths shouldn't overlap.

If it's easy, let's try it, but keep in mind an alternate path, such as straight down.

[2016-12-13 19:38] jonathanolson commented on #38
Oops, it already is translatable (SR did that already). Closing.

[2016-12-13 19:38] #38 closed

[2016-12-13 19:52] amanda-phet commented on #36
I'm not seeing the title casing changes on phettest, but the spacing of the paint splotches looks great.

[2016-12-13 19:53] amanda-phet commented on #13
With the current version, I compared 20x19 and 5x6 and 5x6 seemed too fast. I will play with the query parameter tonight.

[2016-12-13 22:09] jonathanolson commented on #33
The more I thought about it, the better the "paint drip" sounded better. An initial prototype is implemented, let me know how it looks.

Also, I've implemented consistent paint-area preservation, so:

- Splotch area is now correct (it was actually something like ```displayedArea = actualArea^2 + maxArea / 2pi```, and is now fully proportional). That means there's now a bigger difference between 1

[2016-12-13 22:11] jonathanolson commented on #33
Pushed a change just now to make the blue and green "switch labels" the same size, so that shouldn't be an issue.

Feedback on the appearance?

Additionally, I'm planning on balloon graphics; I presume these need to be turned into 5 images based on the new colors?

[2016-12-13 22:19] jonathanolson commented on #33
Also, I'd recommend a visual change to the behavior when you quickly increment and decrement the spinner:

Currently, it throws a balloon and can start the "drip" before the balloon has arrived.

I'd propose that it should wait for the balloon to "hit" before generating a drip (instantaneously, so there is no splotch size increase).

[2016-12-13 22:32] jonathanolson commented on #33
Also, once we have balloon graphics, I'll add a random slight angular velocity to each balloon.

[2016-12-13 22:37] jonathanolson commented on #33
Another note: for the bucket/balloon graphics, if you provide a "background" image without any paint, and a "paint" image of the same dimensions (with the paint being white or gray), I could create composite colorized images in code (color-multiply the "paint" image by our paint color, and composite that on top of the background).

That could prevent us from having to hand-create images if we slig

[2016-12-13 22:39] jonathanolson commented on #36
Could be a caching issue? Changes show for me. Try clearing caches, or an incognito tab?

[2016-12-14 06:41] jonathanolson commented on #37
Implemented, let me know how it looks.

I also had to move the reveal button, since it was right under the pattern panel:
![prop-reveal-necklace](https://cloud.githubusercontent.com/assets/480878/21172177/9e2b58ce-c18d-11e6-8eca-2be4d0ce91a6.PNG)

If there's a better location for that situation, let me know!

[2016-12-14 18:30] amanda-phet commented on #37
I sort of anticipated the button needing a new placement but wanted to wait and see how much space the pattern readout took up.

The screenshot looks good to me.

I'm having trouble (again) viewing the latest version, and am in a private browsing window on VPN, so I'll try again tomorrow when I'm on campus.

[2016-12-14 18:35] amanda-phet commented on #36
All looks good to me. Thanks!

[2016-12-14 18:35] #36 closed

[2016-12-14 18:41] amanda-phet opened #39 "Reverse direction of beads"
I'm not sure how I didn't notice this before, but the bead pattern should start with red and go *counter-clockwise* around the necklace.

Currently seems to go clockwise:
![screen shot 2016-12-14 at 11 39 12 am](https://cloud.githubusercontent.com/assets/7852916/21195670/f999ded8-c1f1-11e6-810c-ce14a99462eb.png)

But should look more like this (ignoring the out-dated appearance of beads):
![screen

[2016-12-14 19:01] amanda-phet commented on #37
This looks good to me, as long as #39 gets addressed.

I anticipated that we might need to move the reveal button, but wanted to see if there was room to shrink the Pattern readout. Right now I think the button location is fine and can see in the next round of interviews if the location is problematic between scenes.

[2016-12-15 17:12] ariel-phet commented on #33
Generally like the direction this is going, will leave it up to @amanda-phet and her artistic choices

[2016-12-15 20:51] #34 closed

[2016-12-15 20:55] amanda-phet commented on #37
One minor change: round the corners a tiny bit.

[2016-12-15 21:00] amanda-phet opened #40 "Move toggle up a bit from the navbar"
The toggle is a little too close to the navbar right now. If possible, it would be good to nudge it up a little bit.

[2016-12-15 21:03] amanda-phet commented on #40
Related: on the billiards scene, to account for this move and ideally moving the reveal button up, see if there is room to shift the tables up closer to the scene selection buttons.

[2016-12-15 21:05] amanda-phet opened #41 "Don't show paint balloons and drip on Predict screen"
Before clicking reveal, the user should not see paint being added or removed from the splotch.

[2016-12-22 18:29] amanda-phet commented on #6
This issue seems dated. Closing.

[2016-12-22 18:29] #6 closed

[2016-12-22 18:31] amanda-phet opened #42 "Add paint balloons to paint scene"
Emailing @jonathanolson assets now. These are the paint balloons that will be thrown at the paint splotch on the Explore screen.

Happy to make changes to the appearance if people have suggestions!
<img width="610" alt="screen shot 2016-12-22 at 11 30 24 am" src="https://cloud.githubusercontent.com/assets/7852916/21436117/25cc4ede-c83a-11e6-8b5b-8d454f50e278.png">

[2017-01-05 22:51] amanda-phet opened #43 "Add grippy dots to sides of billiards table"
Mockup of new thicker, black border, and three grippy dots.

The left board shows the *smallest* possible board, so the dots must fit within that space. The left board also has dots on only two sides.

The right board shows the *largest* possible board, and has dots on all four sides.

Specifics worth discussing:
1. size and spacing of dots
2. color of dots
3. if we want dots on two sides or on al

[2017-01-06 14:13] ariel-phet commented on #43
@amanda-phet I think the dots size/spacing/color look good, these seem to follow the idea of the "minimum effective difference" -- you can discern them, but they are not obtrusive.

I think we all agree that is not critical that a user finds this feature, so something subtle seems to work well. Certainly I think the cursor should change to the double headed expansion arrow cursor when hovering the

[2017-01-06 19:07] amanda-phet commented on #43
Thank you for your feedback @ariel-phet ! The small table actually had a border that was smaller, so I matched it to the larger one and put the dots on all four sides.

The cursor already does change to a hand when hovered over the resizing region, but we could make it something like ew-resize and ns-resize that you see here: http://phetsims.github.io/scenery/examples/cursors.html

Updated mockup:

[2017-01-06 19:17] amanda-phet commented on #26
This functionality is in place and working well, and since a new issue is now open regarding the design I will close this issue.

[2017-01-06 19:17] #26 closed

[2017-01-06 19:18] amanda-phet commented on #17
Didn't see issues with this in interviews. Closing.

[2017-01-06 19:18] #17 closed

[2017-01-09 17:19] amanda-phet commented on #13
I'm trying to calculate a query parameter to reflect what we discussed in our last meeting, which was to have the speed for both tables be such that both tables take the same amount of time to cross the table to the first bounce. This means I'd need variables for the length and width of *both* tables. So instead I'm just trying to come up with one speed for the diagonal length and will test it on

[2017-01-09 18:23] jonathanolson commented on #13
Looks like I forgot to allow commas (like the ones in Math.pow). I'll enable that and a few more "Math.*" expressions like "min", "max" and "abs".

[2017-01-09 18:25] jonathanolson commented on #13
Applied fixes in master, your query parameter should now work.

[2017-01-09 19:04] amanda-phet commented on #13
http://phettest.colorado.edu/proportion-playground/proportion-playground_en.html?billiardSpeed=3/2*Math.sqrt(Math.pow(a,2)+Math.pow(b,2)) looks like the winner to me!

Similar tables will end at the same time (compare 5:4 and 10:8 using this parameter and dev.16!), paths with many bounces go very fast, and paths with no bounces don't go super slow (except 1x1, and it feels appropriate to me).

@ka

[2017-01-09 19:11] kathy-phet commented on #13
+1 Looks good to me.

[2017-01-12 20:37] amanda-phet commented on #13
Looks good to everyone!

[2017-01-13 01:23] jonathanolson commented on #13
Made that the default, and removed the temporary query parameter.

Anything else to do here?

[2017-01-13 15:37] amanda-phet commented on #13
Nope. Thank you!

[2017-01-13 15:37] #13 closed

[2017-01-14 03:48] jonathanolson commented on #41
Fixed in master.

[2017-01-14 03:53] jonathanolson commented on #39
Done.

Did you want the pattern display reversed also?

[2017-01-14 03:55] jonathanolson commented on #37
Rounded corners in master, let me know if other changes are required (like reversing the pattern like we reversed the beads).

[2017-01-14 04:20] jonathanolson commented on #40
Made the described improvements and fixed a few alignment issues. Can you take a look?

[2017-01-14 04:21] jonathanolson commented on #31
Current state is pretty good, still have some view code to review/clean up (particularly with the necklace).

[2017-01-16 17:04] amanda-phet commented on #41
Looks good.

[2017-01-16 17:04] #41 closed

[2017-01-16 17:05] amanda-phet commented on #39
No, the necklace matches the pattern display with this change. Thanks!

[2017-01-16 17:05] #39 closed

[2017-01-16 17:05] amanda-phet commented on #37
Looks nice. Thanks.

[2017-01-16 17:05] #37 closed

[2017-01-16 17:06] amanda-phet commented on #40
Looks great.

[2017-01-16 17:06] #40 closed

[2017-01-16 21:55] amanda-phet commented on #43
In the 1/12/17 meeting we decided to make the dots slightly lighter. Here they are using (102, 102, 102) as the shade of gray:

![screen shot 2017-01-16 at 2 54 26 pm](https://cloud.githubusercontent.com/assets/7852916/22000344/daef7442-dbfb-11e6-8257-bfdecac92206.png)

Assigning to @jonathanolson to implement.

[2017-01-16 21:57] amanda-phet opened #44 "Start billiards scene with 5x5 table"
Instead of the default table being 1x1, we decided in the 1/12/17 design meeting to start with a 5x5 table.

[2017-01-16 22:01] amanda-phet commented on #42
In the 1/12/17 design meeting we decided that there should be a few different orientations for balloons and one will randomly be selected to throw at the paint splotch. Here are three variations:

![screen shot 2017-01-16 at 3 00 06 pm](https://cloud.githubusercontent.com/assets/7852916/22000488/98255838-dbfc-11e6-8b46-e3f9ebe28db5.png)

[2017-01-16 22:36] amanda-phet commented on #33
Currently, it throws a balloon and can start the "drip" before the balloon has arrived.
I'd propose that it should wait for the balloon to "hit" before generating a drip (instantaneously, so there is no splotch size increase).

This is a good suggestion. Let's go ahead an implement that change.

This issue is still open as we work to implement
1. the animation of the balloons flying at the paint s

[2017-01-16 22:37] amanda-phet commented on #42
emailed exported images to @jonathanolson

[2017-01-16 22:41] amanda-phet opened #45 "Stretch dynamic range of color gradient"
Discussed in 1/12/17 design meeting that @jonathanolson would try to stretch the dynamic range of the color gradients. For example, there is little variation in shades of green when mixing blue and yellow, and not many shades of yellow or blue.

[2017-01-17 19:24] jonathanolson commented on #45
Added stretching, let me know if it looks like a good amount, or if it should be tweaked.

[2017-01-17 19:49] #44 closed

[2017-01-17 20:59] jonathanolson commented on #43
It looks like in these mock-ups, the ball actually moves past the end of the table (green area) when it moves into a "pocket", correct?

I just want to clarify, as it will require additional changes to the model.

[2017-01-17 21:15] amanda-phet commented on #43
I just want to clarify, as it will require additional changes to the model.

The mockups are just dated. Please only change the border to be black and slightly thicker, and add the dots.

[2017-01-17 21:19] amanda-phet commented on #45
Looks good to me. @kathy-phet should also look since it initially caught her eye.

[2017-01-17 22:09] kathy-phet commented on #45
Looking better.

I'm not sure how challenging it is to compress/stretch, but I think it would be a bit better if you could try the following:
- further compress the green range between 10:20 to 20:11 (still hard to distinguish a couple of small steps in this region)
- further compress the far blue range between 20:0 and 20:3 (this is also a bit hard)
- further stretch the blue-green range between

[2017-01-17 23:53] jonathanolson opened #46 "Drip animation after reset"
Can happen, and shouldn't.

[2017-01-17 23:58] jonathanolson commented on #42
Initial implementation, let me know how it looks. May be able to increase the size of the balloons, depending on the new splotch graphic (not yet done).

[2017-01-18 00:26] jonathanolson commented on #43
Changes made.

Also recommended (let me know):

1. Gray pockets instead of black?
2. Having thinner and less noticeable grid lines really looks better in the mock-ups above (can I experiment?)
3. Dragging the border in the predict screen should probably be disallowed, since it immediately hides the table?

[2017-01-19 06:48] jonathanolson commented on #45
Slightly updated the colors.

While I'm able to now distinguish between all shades of (x,20) and (20,x), I don't think its necessary for this to happen. We have the arrow indicators that can show a difference between similar colors (e.g. 20,19 and 20,20). Additionally, we have 257 unique ratio values (out of 441 different combinations), some of which only have a difference of 0.07% (19,20 and 18,1

[2017-01-19 07:00] kathy-phet commented on #45
@jonathanolson - I tried to run from phettest and its not working? Just stays in launch mode with no progress on progress bar?

[2017-01-19 07:52] jonathanolson commented on #45
@amanda-phet also noted a similar issue earlier.

Everything seems to be working normally for me after "pull all" (phettest version loading properly now). A bunch of common repositories were out of date (chipper and joist being the most important), so updating the sim repository only would be insufficient.

[2017-01-19 15:02] amanda-phet commented on #42
They look so CUTE!

I just realized that the light is coming from the wrong angle (we usually do top-right and these are top-left), so I should probably update the images.

[2017-01-19 15:06] amanda-phet commented on #43
1. Yes I'm sorry I forgot to specify that change. They should be the same color as the dots (102, 102, 102).
2. Are the lines white in the sim? Maybe that's why they seem so bold. They are gray in my mockup (168, 168, 168). Please feel free to experiment with thinner and/or gray.
3. That seems like a simple fix. I assume that also means there won't be any dots.

[2017-01-19 15:09] ariel-phet commented on #42
@amanda-phet I believe top-left is our usual standard for lighting actually

[2017-01-19 15:10] ariel-phet commented on #42
Notice for instance probe head in bending light, or the alpha particle generator in Rutherford scattering

[2017-01-19 15:47] amanda-phet commented on #42
@ariel-phet thanks. That means I should update the apples, then!

[2017-01-19 15:50] amanda-phet commented on #45
I think it looks really good. I don't want to stretch everything so much that it doesn't feel realistic, because as @jonathanolson says, some of these ratios are actually very close so the paint shades should look similar.

[2017-01-19 15:53] amanda-phet commented on #42
The beads also have the light source coming from top-right, so we'll need to adjust that as well. I'll make a separate issue.

[2017-01-19 17:38] amanda-phet commented on #15
I'd like to replace this image with paint balloons, since there are no other instances of paint buckets in the scene.
![paint-scene-01](https://cloud.githubusercontent.com/assets/7852916/22118029/6d7dd8ec-de33-11e6-804f-76d7f792df51.png)

[2017-01-19 18:30] amanda-phet opened #47 "Add crate and coin artwork to Apple scene"
I will upload the .ai assets and email JO the exported images. The three pieces of artwork are
* coin
* back of crate
* front of crate

![screen shot 2017-01-19 at 11 11 53 am](https://cloud.githubusercontent.com/assets/7852916/22119935/ae38d66e-de3a-11e6-93b7-b039b80e1145.png)

The artwork to implement may require some tweaking to the code:
1. 3D coin might need a new vertical offset so that it s

[2017-01-19 18:45] amanda-phet opened #48 "Change light source on beads"
The light should be coming from the top-left. If this is a relatively easy change to make we should do it to be consistent with other sims.

[2017-01-19 19:45] jonathanolson commented on #48
Done.

[2017-01-19 20:02] jonathanolson commented on #43
Changes made, let me know how it looks.

Did thinner and gray (let me know if it looks too faint).

Correct, no dots on it on the predict screen.

[2017-01-19 20:38] amanda-phet opened #49 "Flip apple around a vertical axis"
To keep the light source consistent.

[2017-01-19 20:56] amanda-phet commented on #48
Looks good.

[2017-01-19 20:56] #48 closed

[2017-01-19 20:56] amanda-phet commented on #43
Looks great!

[2017-01-19 20:56] #43 closed

[2017-01-19 20:59] amanda-phet commented on #42
Balloons look great, and other issues have been opened. Closing this one.

[2017-01-19 20:59] #42 closed

[2017-01-19 21:00] jonathanolson opened #50 "Layout and touch areas for larger strings"

[2017-01-19 21:01] jonathanolson commented on #50
Also do i18n checks and touch areas again.

[2017-01-19 21:48] #49 closed

[2017-01-19 21:56] jonathanolson commented on #15
Done.

[2017-01-20 05:10] jonathanolson opened #51 "Are the red and green apples different sizes on purpose?"
The green apple is a bit taller.

[2017-01-20 05:31] jonathanolson commented on #47
A few notes:

1. I'll need a higher-resolution coin image. It gets blurred pretty badly (see below in images)
2. Having a darker outline on the coin would make it easier to be able to count visually.
3. Green apple is taller, which looks weird when in the box (see https://github.com/phetsims/proportion-playground/issues/51)
4. The "Cost per Apple" panel totally gets in the way as @amanda-phet pred

[2017-01-20 05:34] jonathanolson commented on #45
@kathy-phet, sorry I had to run a few minutes before 4 today. Should we schedule a call/meeting (I'll be available on campus on Monday) to polish this?

[2017-01-20 05:41] jonathanolson commented on #50
Breaks:

![screen shot 2017-01-19 at 10 39 04 pm](https://cloud.githubusercontent.com/assets/480878/22137418/34cf2b58-de98-11e6-907d-2749b99e41e7.png)
![screen shot 2017-01-19 at 10 40 05 pm](https://cloud.githubusercontent.com/assets/480878/22137427/4443a5fa-de98-11e6-9d8e-44d1dc4227f7.png)

[2017-01-20 05:48] jonathanolson commented on #50
@ariel-phet, it looks like the number picker doesn't support maxWidth (what we usually use). Since the dollar sign is translatable, stringTest=long fails above. stringTest=double or really anything fairly short/symbolic works fine:
![screen shot 2017-01-19 at 10 46 53 pm](https://cloud.githubusercontent.com/assets/480878/22137616/5444e058-de99-11e6-8e83-409630aae9da.png)

Should I leave that numbe

[2017-01-20 05:57] kathy-phet commented on #47
I like the proposed location of the price label. I think some tweaks there could help - either making the crate a bit taller so that the labels sits entirely on the wooden part or something else. I do like the font size so wouldn't want to go much smaller.

Agreed coins need higher res ... it needs to be easy to make out one coin from the next.

Overall, great to see the artwork in here!

[2017-01-20 05:58] kathy-phet commented on #45
Sorry JO -- I'll try to catch you on Monday. Do you have any other meetings?

[2017-01-20 06:00] jonathanolson commented on #50
I take back what I said about stringTest=double above:
![screen shot 2017-01-19 at 10 59 22 pm](https://cloud.githubusercontent.com/assets/480878/22137884/fc46ba1e-de9a-11e6-9c2e-98cf458f8cde.png)

It should be fine if they replace the dollar sign with a single other character though.

[2017-01-20 06:01] jonathanolson commented on #47
I like that idea.

I knocked it down from 30 to 25 for that screenshot, so it could always grow a bit also.

[2017-01-20 06:07] jonathanolson commented on #45
I have a planned call starting ~9:30am about Wicket migration with Matt, not sure how long it would last (if it's long, could fit in time about proportion playground). I may need to leave campus at 1:30pm on Monday.

[2017-01-20 06:09] jonathanolson commented on #50
Resolved all mentioned issues except for the above number picker layout issue.

[2017-01-20 06:09] jonathanolson commented on #12
They are now.

[2017-01-20 06:09] #12 closed

[2017-01-20 06:09] jonathanolson commented on #19
I haven't seen this, closing.

[2017-01-20 06:09] #19 closed

[2017-01-20 06:12] #46 closed

[2017-01-20 06:15] jonathanolson opened #52 "Bucket images for paint scene"
I don't recall whether it was for the "show both" switch or for the pickers, but I didn't know if we were planning on having the partially discussed buckets, one for each paint color.

[2017-01-20 15:35] amanda-phet commented on #15
The image looks pretty terrible in Firefox. Should I export a higher-res image? Or do we pick our battles and stop fighting with Firefox when it comes to images?

[2017-01-20 15:38] amanda-phet commented on #51
No, that is a mistake.

And actually, we intended on using only red apples so that users were comparing identical items (*apples to apples*... ha).

Can we replace the green ones with red ones?

[2017-01-20 15:57] amanda-phet commented on #47
Darker coin outline
![screen shot 2017-01-20 at 8 56 43 am](https://cloud.githubusercontent.com/assets/7852916/22155925/63161124-deee-11e6-89f0-8ad7d4feadd9.png)

Taller crate to fit label + two options for labels
![screen shot 2017-01-20 at 8 55 07 am](https://cloud.githubusercontent.com/assets/7852916/22155931/671e72b6-deee-11e6-95ab-e354c26dc0bf.png)

Thoughts?

[2017-01-20 16:19] samreid commented on #15
Here's how it looks in my Firefox on retina (it actually looks a bit better because it is 1/2 this size).  What does it look like on your firefox?
![image](https://cloud.githubusercontent.com/assets/679486/22156615/4e460468-def1-11e6-8b13-1060a08e8042.png)

Sometimes the solution is to provide a *smaller* image so that firefox doesn't have to scale it so much.  But let's look at your screenshot fi

[2017-01-20 16:20] kathy-phet commented on #47
+1

For labels, I like both, so leave it up to you.

[2017-01-20 16:21] amanda-phet commented on #15
![screen shot 2017-01-20 at 9 20 39 am](https://cloud.githubusercontent.com/assets/7852916/22156706/c084f14c-def1-11e6-899a-e31d288ed929.png)

[2017-01-20 16:24] samreid commented on #15
That is pretty bad, what is your OS and Firefox version?

[2017-01-20 16:31] amanda-phet commented on #15
OSX 10.11.6
Firefox 50.0.2

So, not totally up-to-date.

[2017-01-20 16:32] samreid commented on #15
Is your display retina or non-retina?

[2017-01-20 16:34] amanda-phet commented on #15
It's a high-res external monitor.

Here is my retina display:
<img width="307" alt="screen shot 2017-01-20 at 9 34 13 am" src="https://cloud.githubusercontent.com/assets/7852916/22157138/aa29fc1a-def3-11e6-96ee-54689767e79f.png">
It seems much better here.

[2017-01-20 16:41] jonathanolson commented on #15
I accidentally used "image" instead of "mipmap", I'll fix it.

[2017-01-20 16:53] amanda-phet commented on #47
I like the label on the right.

I'll email assets to @jonathanolson now (and export at a higher res).

[2017-01-20 17:01] ariel-phet commented on #50
@jonathanolson I think we can leave number picker as is and trust our translators to use a symbol not a long string.

Assigning back to you, just as a reminder to note this for the QA team when you do testing. Feel free to close.

[2017-01-22 00:56] jonathanolson commented on #50
Thanks, will do. Closing.

[2017-01-22 00:56] #50 closed

[2017-01-22 01:30] jonathanolson commented on #47
The coin artwork still needs to be bigger (let me know if the sent artwork is way higher resolution, web Outlook mail may have messed it up).

I tried to get Illustrator, but the licensing website is down for maintenance.

![coin](https://cloud.githubusercontent.com/assets/480878/22179134/9cae5620-e007-11e6-9736-861249d64df6.PNG)

[2017-01-24 00:02] jonathanolson commented on #47
Implemented the new crate label, still waiting on the higher-resolution coin graphic.

[2017-01-24 00:30] jonathanolson commented on #51
Done (also affects the "show both" switch icon).

Let me know if that looks good.

[2017-01-24 17:18] amanda-phet commented on #51
Looks good. Thanks!

[2017-01-24 17:18] #51 closed

[2017-01-24 17:23] amanda-phet commented on #47
The new coin is 126x90. What would be a good resolution? I'll email you now one that is 251x180. I can make it any resolution so it would be helpful to know what is ideal.

The coin also has some "roughness" in the design, so if it's distracting I can try to smooth it out.
<img width="396" alt="screen shot 2017-01-24 at 10 20 35 am" src="https://cloud.githubusercontent.com/assets/7852916/22258442/

[2017-01-24 22:58] jonathanolson commented on #47
The provided resolution looks good. Let me know how it looks, the "roughness" looks like the source is a bit pixelated (but looks fine now on my screen).

[2017-01-24 22:59] jonathanolson commented on #15
It's mipmapped now.

[2017-01-25 16:20] amanda-phet commented on #47
I think it looks good. Thank you!

[2017-01-25 16:20] #47 closed

[2017-01-25 16:20] amanda-phet commented on #15
Looks much better on my monitor!

[2017-01-25 16:20] #15 closed

[2017-01-25 17:01] amanda-phet commented on #52
We did discuss it but I think everything is looking good as it is so I'm not sure we need a paint bucket anywhere. I do have one from Mariah (not the .ai file though) so if we decide we need a paint bucket we can use her image.

[2017-01-25 17:01] #52 closed

[2017-01-25 17:54] amanda-phet opened #53 "Start all ratios on the Predict screen at 5:5"
Decision from 1/19/17 meeting

[2017-01-25 17:56] amanda-phet opened #54 "make paint splotch grow/shrink in a less discrete way"
@jonathanolson will implement a smoother, more continuous growth animation.

Also, when the splotch contains only 1 unit of paint, the splotch should morph into a paint drop instead of just disappearing.

[2017-01-25 17:59] amanda-phet opened #55 "Add a refresh button on Explore screen"
Since clicking the reset-all button returns the user to the necklace scene we decided on 1/19/17 to add a refresh button that just refreshes the scene.

There is a button like this in Unit Rates and I like the appearance of it quite a bit:
![screen shot 2017-01-25 at 10 58 40 am](https://cloud.githubusercontent.com/assets/7852916/22302723/503213c0-e2ed-11e6-90a1-8a2b07627a44.png)

It should be sma

[2017-01-26 02:46] jonathanolson commented on #53
IIRC, the "predict" button would also be enabled by default at the start?

[2017-01-26 16:07] amanda-phet commented on #53
Correct. Thanks for remembering!

[2017-01-26 18:02] ariel-phet commented on #31
Since @jonathanolson has been working on this sim as the main developer, I think we can consider initial review complete

[2017-01-26 18:02] #31 closed

[2017-01-26 18:21] jonathanolson commented on #53
Reveal button is now always enabled. Does everything for this issue look good?

[2017-01-26 18:22] jonathanolson commented on #55
Does that mean it would not exist on the Predict screen?

[2017-01-26 18:25] jonathanolson opened #56 "Code cleanup"
https://github.com/phetsims/proportion-playground/issues/31 was closed (as the review was completed), but I still have remaining code cleanup to do.

[2017-01-26 19:22] amanda-phet commented on #55
That's correct. We decided in the meeting that the predict screen doesn't need it because clicking the spinner feels like a reset because the image disappears.

[2017-01-26 19:26] amanda-phet commented on #53
Looks great!

[2017-01-26 19:26] #53 closed

[2017-01-26 20:44] jonathanolson opened #57 "Add Color profile handling"
Should allow easy editing.

[2017-01-26 21:05] amanda-phet commented on #18
<img width="681" alt="screen shot 2017-01-26 at 2 03 29 pm" src="https://cloud.githubusercontent.com/assets/7852916/22350251/52fe8e92-e3d0-11e6-8986-20c6f1eeeaf0.png">

Navbar icons should look like this:
<img width="192" alt="screen shot 2017-01-26 at 2 04 46 pm" src="https://cloud.githubusercontent.com/assets/7852916/22350293/71bc501c-e3d0-11e6-9f38-9af735c952db.png">

[2017-01-27 18:28] jonathanolson commented on #18
So the predict nav-bar icon should NOT have a colon?

[2017-01-27 18:33] amanda-phet commented on #18
We should see how it looks, but that is correct. I think reducing clutter in the smaller icon might be helpful.

[2017-01-27 18:36] amanda-phet commented on #18
Now that I looks at it, actually, I think the paint splotch should be lighter. Can you make it orange instead?
![screen shot 2017-01-27 at 11 36 20 am](https://cloud.githubusercontent.com/assets/7852916/22382908/de7e97dc-e484-11e6-97f3-8a4f85c9a25c.png)

[2017-01-28 04:22] jonathanolson commented on #33
Added an initial drip animation. Thoughts on whether it is sufficient, or what improvements could be made?

[2017-01-28 04:23] jonathanolson commented on #54
Morphing when dripping is done. In my opinion, the instant "splat" of a balloon is a benefit currently (looks weird if it is slowed down).

Thoughts?

[2017-01-30 17:15] jonathanolson commented on #55
Let me know how it looks and behaves. Resetting the scene included resetting "show both", but it may be beneficial to not reset that.

[2017-01-30 18:32] jonathanolson commented on #18
Should I presume that none of those labels should be translatable?

[2017-01-30 22:45] amanda-phet commented on #18
Do you mean the 6:3 and ?:? text? That's probably fine to make them not translatable, but I'm not sure how other countries write ratios.

[2017-01-30 22:48] amanda-phet commented on #33
It's looking great to me! @ariel-phet and @kathy-phet can comment but I wouldn't change anything at the moment.

The white drip can be a little hard to see on the light background. Would a black stroke look strange?

[2017-01-30 22:49] amanda-phet commented on #54
Looks great to me!

[2017-01-30 22:52] amanda-phet commented on #55
I agree it should not reset the toggle, only the spinners.

If we are going to use this sort of refresh button in sims we might want to discuss the appearance of it with some more phet team members. Hopefully there will be time at Status to bring it up.

[2017-01-30 22:53] amanda-phet commented on #18
Not sure how to describe this bug, but the billiard ball seems to have fallen off the table...
![screen shot 2017-01-30 at 3 52 16 pm](https://cloud.githubusercontent.com/assets/7852916/22445332/2d87716a-e704-11e6-8670-e7d3c33e9e0f.png)

[2017-01-30 23:18] jonathanolson commented on #18
I haven't cleaned up the billiards display code yet, and it is buggy when you give it certain billiards states. I'll have that fixed soon (it's why I'm still assigned to this issue, otherwise the icons are ready).

[2017-01-30 23:19] jonathanolson commented on #55
Discussion would be good. It's the same icon as reset-all, and sometimes those two buttons are right next to each other, so it may be confusing.

Reassigned so it doesn't reset the show-both switch.

[2017-01-30 23:20] jonathanolson commented on #33
Also noticed this with the yellow. I'll try adding a little stroke.

[2017-01-31 01:22] jonathanolson commented on #55
Changed so it just resets each ratio (ignoring things such as "show both").

[2017-01-31 01:29] jonathanolson commented on #33
Looks nicer to me with the stroke.

Different background color may help 'white' or 'yellow' pop more (see http://phettest.colorado.edu/proportion-playground/proportion-playground-colors.html to try changing the background color or a few other things).

[2017-01-31 01:29] jonathanolson commented on #57
Partial progress, see http://phettest.colorado.edu/proportion-playground/proportion-playground-colors.html

[2017-01-31 06:50] ariel-phet commented on #33
I think the drip is looking quite nice!

[2017-01-31 08:48] jonathanolson opened #58 "Necklace performance"
Slows down when getting to 20,20. Will check during review/cleanup of that code.

[2017-01-31 08:57] jonathanolson commented on #18
That bug should be fixed now.

[2017-01-31 09:04] jonathanolson opened #59 "Internationalization checks"

[2017-01-31 09:16] jonathanolson commented on #57
Pretty sure I hit everything that's relevant (make sure to pull before testing).

Give it a try, and see what background color (or other color changes) would be an improvement?

[2017-01-31 09:23] jonathanolson opened #60 "Assertion failed: matrix should not map plane to a line or point"
It looks like the setScaleMagnitude going to 0 (no paint dripped, the order of execution is possible to get there).

Plan to use a scratch matrix to set the transform directly, OR to have a guard in place.

[2017-01-31 15:52] #60 closed

[2017-01-31 17:15] amanda-phet commented on #18
Looks great now!

[2017-01-31 17:15] #18 closed

[2017-01-31 17:48] amanda-phet opened #61 "alternate background color for Predict screen"
See issue #57

Here is DFE7FF. Seems like a decent color to me, although I might change the color of the visibility button.
![screen shot 2017-01-31 at 10 20 14 am](https://cloud.githubusercontent.com/assets/7852916/22477283/ac9aa406-e7a2-11e6-8881-7fd8fbf9d8b8.png)

@kathy-phet and @ariel-phet if you get a chance to play with the color profile editor let me know if you have another background col

[2017-01-31 17:50] amanda-phet commented on #33
I like the stroke quite a bit!

I was thinking we'd only change the background color on the predict screen, which doesn't show the paint drip, so I will close this issue.

[2017-01-31 17:50] #33 closed

[2017-01-31 20:11] ariel-phet commented on #61
@amanda-phet as long is it does well with color blind tests, I do not have a strong preference. I might go a shade lighter than you have for more contrast, but I defer to your judgement.

[2017-01-31 22:17] amanda-phet commented on #54
Closing this issue since this is implemented and looks good. Happy to re-open if people have objections.

[2017-01-31 22:17] #54 closed

[2017-02-02 18:55] jonathanolson opened #62 "Handle reordering of steps"
https://github.com/phetsims/joist/issues/401

[2017-02-09 19:45] kathy-phet opened #63 "Confirm/Correct behavior on Predict Screen (Eyeball button out of sync)?"
It seems like the eyeball button is out of sync (it shows the current state not the future state). Should it not show the button that would make the beads visible as opposed to the one that would make them invisible when it shows up? It's not the action that is out of sync, its just that I thought the images would be flip-flopped from what is there now?
(Seem image .. to me I look at this and it s

[2017-02-20 17:52] amanda-phet commented on #63
I wondered about this in Function Builder, as well. I've been trying to find design resources for help in determining how to use this icon but haven't had luck yet. We do know in interviews students weren't confused about what this button did (in either sim), but it would be good to use the eye and eye-slash correctly. I will see what Dave has to say from a design perspective.

[2017-02-20 18:09] kathy-phet commented on #63
I don't know the source of this -- but looking at some implementations ... here are images that show the opposite behavior to what we are currently using. I think it should represent the action it will do -- not what the current state is (personally):
![image](https://cloud.githubusercontent.com/assets/5096804/23136941/7acd7844-f75c-11e6-8463-777c29a1141d.png)
![image](https://cloud.githubusercont

[2017-02-20 21:21] jonathanolson commented on #63
I've seen both styles. Some use the button to show what the action will be (show or hide), but some use the presence of the slash to indicate the current status. I think Photoshop had a radio button for layer visibility where a normal eye on the button meant it was visible.

The way the button currently appears (to me), it looks more like it is trying to show the action that will happen (seems som

[2017-02-20 22:30] amanda-phet commented on #63
I'd be fine with switching it but would also want to make that change on Function Builder as soon as possible so that our sims are consistent.

[2017-02-21 15:58] kathy-phet commented on #63
I vote for the switch. @amanda-phet - Can you check in with Chris too to see what he thinks about Function Builder in terms of this question?

[2017-02-21 16:04] amanda-phet commented on #63
Email Chris.

@jonathanolson can you please make this change to the icons?

[2017-02-21 17:47] phet-steele commented on #63
@amanda-phet @kathy-phet @jonathanolson I'd like to put in my two cents real quick. I believe we should leave the button as is.

I'd say we should keep the decision about the consistency of this button internal to PhET design. PhET has two prominent buttons that show the current state of the button, not the future:

<img width="258" alt="screen shot 2017-02-21 at 10 15 10 am" src="https://cloud.gi

[2017-02-21 18:59] kathy-phet commented on #63
We could redesign as a toggle switch or two toggle buttons as in color vision. It just feels like right now the action and visual are confusing me because in my mind as I use the sim I do see this as an action button (show me the necklace) not a state button.

Kathy

Sent from my iPhone

On Feb 21, 2017, at 10:47 AM, phet-steele <notifications@github.com<mailto:notifications@github.com>> wrote:

@

[2017-02-21 19:00] amanda-phet commented on #63
Thanks @phet-steele . I also discussed this with Chris and was reminded about why we made that decision in Function Builder and why we should keep this button the way it is. Since these are "toggle buttons", rather than "command buttons", the convention is to show the current state.

We could consider a different interaction altogether, but I will remind everyone that in interviews students did no

[2017-02-22 00:21] kathy-phet commented on #61
@amanda-phet - I checked out this color in the sim and I like it. It feels like it goes well with the other background color to me - and looks good with all the options. Note that I could not figure out how to use the code you provided with JO's tool -- so I had to use another tool to figure out the RGB. I think I'm just going a bit nuts because I know when we looked at it in the meeting there was

[2017-02-22 03:47] jonathanolson commented on #61
Chrome on Windows didn't have a way to input a hex color (sorry!) Generally the first google hit (when googling a color code) has a ton of information on it, including the RGB.

Above color: #DFE7FF (223 red, 231 green, 255 blue)

I also feel like the color's a bit strong and dark (a more light less saturated color lets the colors of the sim pop), so I'd like to propose #EAEEFD (red 234, green 238

[2017-02-22 17:45] kathy-phet commented on #63
OK, I will try to reorient the way my brain interprets these buttons. I naturally view them as a command, myself.

[2017-02-22 17:48] amanda-phet commented on #63
Just came across another example of this sort of toggle button and it does not reflect the current state... so it seems that there is just a lot of inconsistency.
![screen shot 2017-02-22 at 10 46 47 am](https://cloud.githubusercontent.com/assets/7852916/23224641/697ec570-f8ec-11e6-91cf-1ce180604669.png)

However, since our sound and timer buttons function a certain way already, I still think we s

[2017-02-22 17:54] kathy-phet commented on #63
I think we need to be consistent with the eyeball icon ... but I think the context really sets the expectations. For the timer, it is working as I expect it to right now. It's just that in the proportion screen the eye feels much more like an action I will take than a state to me. The fact that it is a physical button - like the go button - contributes to this feeling for me.

[2017-02-24 17:32] amanda-phet commented on #61
Looks great to me! Let's move forward with that color on the background of the Predict screen.

The background of the screen icons will need to be changed as well.

[2017-02-24 17:54] kathy-phet commented on #61
FWIW, I do prefer the deeper blue because it makes the number boxes really pop more where as the fainter shade they have less contrast, and in this sim the number spinners is very important to attend to. And to my eye the colors all still pop nicely and some more so, with the deeper shade. That said, I can be OK with the fainter color.

I also think we need to make sure to keep in mind Trish's oft

[2017-02-27 20:06] #62 closed

[2017-03-03 17:46] amanda-phet commented on #61
Let's try out these colors on a projector to see what it looks like but we will still move forward with the lighter purple for now.

[2017-03-10 17:59] phet-steele opened #64 "Necklace button alignment"
The necklace's refresh button (Explore screen) and eyeball button (Predict screen) are not aligned nicely with respect to the Reset All button when viewing two necklaces. Dev bounds are provided to get a sense of how much room there is to move buttons around. Might have to move the Reset All button inward to accommodate the larger eyeball button?

<img width="177" alt="screen shot 2017-03-10 at 10

[2017-03-13 18:37] phet-steele commented on #58
The necklace screen can very reliably crash an iPad when playing near 20,20 with both necklaces showing.

[2017-03-13 19:37] BryceAG commented on #64
I feel like it is worth mentioning that the necklace screen is the only screen where those buttons aren't centered when viewing two items. I realize that if you make a "pattern" of 20 and 19 then the entire vertical space is used up, but it is still inconsistent.

[2017-03-13 20:13] brroberts1231 opened #65 "Only one billiards table animates upon switching between single and double view."
For phetsims/tasks#794
Seen on OS X  10.11.6, Safari

When playing with the billiards screen, I noticed that if you switch from the single view to the double view, only the second billiard table will animate again. I imagine the desired behavior is that they should only animate again when the numbers are changed or if the reveal button is toggled, so when you switch between views here, neither of

[2017-03-13 21:32] jonathanolson commented on #65
@amanda-phet, should the second billiards table essentially "pause" when the user switches away, continue animating (when it's not seen), or should we have some form of "starting over" like happens now?

[2017-03-16 16:28] jonathanolson commented on #64
I can definitely align these. It was actually intentional, so that the buttons on the explore/predict screens had the same center, with the bigger button being aligned.

I'll align them to the left, and will pass it by @amanda-phet to make sure it looks good when switching between the screens.

[2017-03-16 16:31] phet-steele opened #66 "White paint spinner doesn't have a "clickable" cue"
The white paint's spinner has no mouse highlight ***on hover*** (or it's just white). The video below shows my mouse as a yellow dot:

![prp01](https://cloud.githubusercontent.com/assets/5863899/24007040/1d09a248-0a33-11e7-87d5-78bec4df3f67.gif)

Why not make the highlight the grayish color that appears when clicking on the spinner? (at the end of the video)

Seen on macOS 10.12.3 Chrome and lots

[2017-03-16 16:32] jonathanolson commented on #64
@amanda-phet, can you try master and see if it looks ok:

1. On the explore screen (necklace), show both.
2. On the predict screen (necklace), show both.
3. Switch back and forth between explore and predict screens (button gets replaced on right side).

Does that look ok?

[2017-03-16 16:36] jonathanolson commented on #66
Presumably this would be handled in the common picker code, and may change other sims' picker highlighting.

@amanda-phet, thoughts?

[2017-03-16 16:54] jonathanolson commented on #61
Changed.

My MacBook has those color issues, so can others see how it looks? On my screen, the blue-ish background color looks weird (to me) with the blue predict button.

Thoughts?

[2017-03-16 17:05] jonathanolson commented on #64
@phet-steele recommended center-aligning all of the buttons, so I'll look into that first.

[2017-03-16 17:12] jonathanolson commented on #64
Center-aligned, reassigning for review.

[2017-03-16 17:52] phet-steele opened #67 "Equality arrows turn black prematurely when rapidly adding/subtracting paint"
The video demonstrates each step of the procedure to highlight three different use cases:

1. Set up 20,18 and 20,20. Increment the 18 up to 20 slowly, waiting for the balloon to land each time. Everything works well in this scenario.
2. Start over at the same proportions. This time, increment 18 up to 20 quickly. There will be a slight moment (don't blink) where the equality arrows along the cent

[2017-03-16 19:17] amanda-phet commented on #61
I don't really like it now. We could change the button to be yellow since we know that the color looks decent with all of the scenes. Thoughts, @kathy-phet ?

[2017-03-16 19:18] amanda-phet commented on #57
This can be closed since this feature has been working just fine.

[2017-03-16 19:18] #57 closed

[2017-03-16 19:23] amanda-phet commented on #64
Looks good everywhere except the Apple scene... in the Predict screen the larger button pushes the Apple Cost meter up. Can we lower those buttons so that doesn't happen?

[2017-03-16 19:27] amanda-phet commented on #65
I like Ben's suggestion here. It does seem odd the way it's currently behaving. Is that a major change, @jonathanolson ?

[2017-03-16 19:31] amanda-phet commented on #66
It seems inconsistent on one hand but it also doesn't bother me too much because the paint is white, so it also performs as expected. I'd rather not handle it right now but it might be something to discuss with the other sim designers for a future change to the common code picker.

[2017-03-16 19:43] phet-steele commented on #66
@amanda-phet I think this is less about the picker being "correct" since the paint is white, and more about the fact that this spinner has the potential to always look disabled.

[2017-03-16 19:58] jonathanolson commented on #67
@phet-steele can you verify my fix?

[2017-03-16 20:39] jonathanolson commented on #65
No, shouldn't be.

Which of the options would be preferred, should it "pause" when the user switches off showBoth (when they turn showBoth on, it starts animating from where it was before), or should it continue animating?

[2017-03-16 21:37] amanda-phet commented on #65
I was imagining that it would continue animating (even if not in view) so that both tables show the same state when toggling back and forth.

[2017-03-16 21:58] phet-steele commented on #67
Looks bueno.

[2017-03-16 21:58] #67 closed

[2017-04-04 19:40] jonathanolson commented on #64
I fixed a few things about the Apple cost meter (positioning should be the same on both screens, shouldn't overlap anything, etc.)

Does that look good?

[2017-04-06 16:51] jonathanolson commented on #59
Need the number picker to be able to maintain bounds, see https://github.com/phetsims/scenery-phet/issues/297

[2017-04-06 20:05] #59 closed

[2017-04-06 20:57] jonathanolson commented on #58
@phet-steele, can you check to see if the performance on http://www.colorado.edu/physics/phet/dev/html/proportion-playground/1.0.0-dev.21/proportion-playground_en.html (dev.21) is better than http://www.colorado.edu/physics/phet/dev/html/proportion-playground/1.0.0-dev.20/proportion-playground_en.html (dev.20)?

[2017-04-06 21:10] jonathanolson commented on #58
Testing on an iPad shows that the left-most necklace is WAY slower than the right-most one.

[2017-04-06 21:14] jonathanolson opened #68 "Hard to grab billiards sides on a tablet"

[2017-04-13 02:34] jonathanolson commented on #58
WebGL rendered necklace seems to sometimes help performance, and on my devices looks fairly indistinguishable with the regularly rendered one:
![screen shot 2017-04-12 at 8 31 52 pm](https://cloud.githubusercontent.com/assets/480878/24987818/2d8992c6-1fbf-11e7-9612-22e08099ec99.png)

But testing on Lave (iPad) showed that switching to the 1st screen had some latency (presumably compiling shaders)

[2017-04-19 19:28] jonathanolson commented on #58
Deployed http://www.colorado.edu/physics/phet/dev/html/proportion-playground/1.0.0-dev.22/proportion-playground_en.html, with the WebGL Necklace disabled due to https://github.com/phetsims/scenery/issues/611.

@ariel-phet and @phet-steele, can I get a check of this version to determine whether this is "acceptable on the iPad"?

I was working on getting the Scenery/Kite WebGL path support in order

[2017-04-19 20:33] jonathanolson commented on #58
@phet-steele mentioned crashing issues on startup (presumably memory-related). This can be worked around by disabling WebGL for balloon display, since it can't have things in-between WebGL at the moment (missing Path/Text current support).

Deploying http://www.colorado.edu/physics/phet/dev/html/proportion-playground/1.0.0-dev.23/proportion-playground_en.html (should crash less, but balloon flying

[2017-04-20 16:24] jonathanolson opened #69 "Code Review"
PhET code-review checklist
=============

**Build and Run Checks**

- [x] Does the sim build without warnings or errors?
- [x] Does the sim start up? (requirejs and built versions)
- [x] Does the sim experience any assertion failures? (run with query parameter 'ea')
- [x] Does the sim pass a scenery fuzzer test? (run with query parameter 'fuzzMouse&ea')

**Internationalization**
- [x] Are there an

[2017-04-20 16:24] jonathanolson commented on #69
Not quite ready, creating issue so I can double-check items before passing it off.

[2017-04-20 16:54] amanda-phet commented on #64
It looks good to me. Closing.

[2017-04-20 16:54] #64 closed

[2017-04-20 17:08] jonathanolson opened #70 "Reduce NumberPicker delay to make changes slower"

[2017-04-20 17:15] amyh-phet commented on #66
I agree that it seems inconsistent. @amanda-phet  Have you interviewed on this sim yet?  I'm thinking if users haven't had an issue figuring this out, then I would leave the behavior as is.

[2017-04-20 17:17] arouinfar commented on #55
@amanda-phet @jonathanolson there was quite a bit of discussion around the use of ResetButton in Unit Rates in https://github.com/phetsims/unit-rates/issues/86.  I initially had reservations about having a ResetButton AND ResetAllButton both visible on screen, however, there didn't turn out to be any usability issues in interviews. MOTHA also uses a ResetButton:
![image](https://cloud.githubuserco

[2017-04-20 17:36] arouinfar commented on #66
Agreed @amanda-phet, though I do still lean towards the gray shading because it feels more consistent. If there haven't been any issues that cropped up in interviews, I'd be fine with leaving the spinner as-is, though.

[2017-04-20 17:49] amyh-phet commented on #55
@amanda-phet   I'm also okay with using this reset button.  As @arouinfar points out, we will need to use a version of it in MOTHA to reset the spectrometer.

[2017-04-20 18:32] jonathanolson commented on #70
Implemented a 2x slowdown, assigning for review.

[2017-04-20 19:01] amanda-phet commented on #66
No issues in interviews, but b&w wasn't used very much.

I think we should keep it as-is and if we make changes to white spinners on a universal scale then the changes will apply to this sim at that time. Right now, I would prefer to focus on getting this sim out the door.

[2017-04-20 19:01] #66 closed

[2017-04-20 19:02] amanda-phet commented on #55
Will keep the button as-is for now but would still like to bring this up at status at some point in case any team members have ideas for rules about how/when to use this button and if the appearance should be changed.

[2017-04-20 19:02] #55 closed

[2017-04-20 19:12] amanda-phet commented on #63
Since this sim is wrapping up, we need to make a decision on this issue.

My preference is to leave the button the way it currently behaves, which is consistent with all of our other "toggle buttons." Since students used the button appropriately in interviews, I am not overly concerned about their interpretation.

Since we use this visibility icon in other sims that are coming to the table soon (A

[2017-04-20 20:22] jonathanolson commented on #65
Implemented in the above commit. I made the assumption that it shouldn't ever start the animation in the background (when hidden), but it will continue to step the hidden billiards board once it is started.

Let me know if this feels like the desired behavior?

[2017-04-20 20:30] jonathanolson opened #71 "Fill in QA credits"
Once testing is more complete.

[2017-04-21 15:16] kathy-phet commented on #63
Amanda, I thought we had discussed a few weeks ago on the phone and you had decided to change it?
If you've changed your mind, we can leave it for now, but let's continue to discuss as situations arise and be open to revisiting it across the sims.

In this context, I really don't see it as a toggle of state "hidden"/"visible" and find it less intuitive. I see it, and would prefer students to actua

[2017-04-21 15:34] amanda-phet commented on #63
I'm sorry, we probably did discuss it and since I never responded to the issue so I forgot.

I am definitely open to revisiting the issue and directly asking students in future interviews to explicitly look at the button. I think a solution in the future will be to not use this kind of button and finding another way of toggling visibility.

I just had another thought- the other uses of toggle butt

[2017-04-21 16:54] phet-steele commented on #58
@jonathanolson, dev.23 performance is not great, but acceptable and with no crashes under normal use. I believe @ariel-phet agreed with me the other day he was in the office.

[2017-04-21 16:55] kathy-phet commented on #63
I don't think the shape would make much difference, but you can try it.

I actually like it feeling like an active action button - so as opposed to making it feel more passive readout, I would favor thinking about designs that would allow it to be an action ... especially in the context of the use in this sim.

[2017-04-21 21:00] ariel-phet commented on #70
@jonathanolson still feels a little fast on my pull from master, please slow down another 2x

[2017-04-22 05:46] jonathanolson commented on #70
Having some issues deploying a dev version from this computer, but the second doubling has been committed (phettest would work).

Will plan a dev version after cleanup is complete.

[2017-04-24 17:06] amanda-phet commented on #70
Are we talking about fire and hold on a spinner? I just looked at it now and wouldn't make it any slower. If someone wants to get to a specific ratio this is incredibly annoying. Why are we slowing this down?

[2017-04-24 17:25] phet-steele commented on #70
@ariel-phet @jonathanolson slowing the spinner down almost feels pointless? I can manually click the spinner faster than fire and hold is going at this point. If the idea was to help performance by slowing the rate at which the pickers change, I don't think this is the right road to go down (since manual clicks can/will be faster).

[2017-04-24 17:33] phet-steele commented on #70
Time to go from 0 - 20:

Manual clicks: 3 seconds
Fire and hold after changes: 8 seconds
Fire and hold BEFORE changes: 2 seconds

I'm pretty sure the point of the "fire and hold" design is to make it faster to move within a spinner's range, but it takes 5 extra seconds with these slow downs.

[2017-04-24 17:35] amanda-phet commented on #65
Looks great to me. Thanks!

[2017-04-24 17:38] amanda-phet commented on #61
I believe the background color has been accepted by everyone at this point so I will close this issue and make a new one for the button color.

[2017-04-24 17:38] #61 closed

[2017-04-24 17:41] amanda-phet opened #72 "Change visibility button color to yellow"
Please change the visibility button on the Predict screen to be yellow. The standard PhET yellow button color should be fine. I tried to preview this using http://phettest.colorado.edu/proportion-playground/proportion-playground-colors.html but the button isn't listed.

[2017-04-24 18:36] ariel-phet commented on #70
@amanda-phet slowing this down because there are some animation performance issues on iPad2, the fire on hold rate was a bit too fast before. Just dialing it in

@phet-steele I think it is OK if the fire on hold is about as fast as "quick clicking". Quick clicking for those with less nimble fingers is more around 4 or 5 seconds for that range.

@jonathanolson lets go back to aound the previous slo

[2017-04-24 18:42] jonathanolson commented on #72
Changed to the standard color. It wasn't listed (sorry), because it actually used the common-code button default color.

[2017-04-24 18:44] jonathanolson commented on #72
Will have a commit soon making it changeable. Is that the color you were talking about? (It's what developers said was the most likely standard yellow).

[2017-04-24 18:47] jonathanolson commented on #70
Changed interval back to 2.5x slower.

[2017-04-24 19:05] amanda-phet commented on #72
Thank you that does look good. I wanted that button to be visible and it definitely is :)

[2017-04-24 19:05] #72 closed

[2017-04-26 18:25] jonathanolson commented on #68
Touch areas were improved:

![screen shot 2017-04-26 at 12 25 35 pm](https://cloud.githubusercontent.com/assets/480878/25450242/7c17d418-2a7b-11e7-8b6b-b2c398493942.png)

[2017-04-26 18:25] #68 closed

[2017-04-26 18:26] jonathanolson commented on #58
Ok, closing. WIth future WebGL changes, could resurrect the higher-performance version in the future.

[2017-04-26 18:26] #58 closed

[2017-04-26 18:27] jonathanolson commented on #70
@amanda-phet and @phet-steele, is the current behavior what is desired, or should I make changes?

[2017-04-26 18:27] #56 closed

[2017-04-26 18:29] jonathanolson commented on #69
I believe it's ready enough for a code review (started reaching diminishing returns from cleanup, I'm curious what areas would be recommended for further improvement by the reviewer).

[2017-04-26 18:48] ariel-phet commented on #69
Will proceed with review once dev test and associated issues are complete https://github.com/phetsims/tasks/issues/827

[2017-04-26 20:39] amanda-phet commented on #70
The current behavior looks fine to me, and if it helps with performance I think it's worth it.

[2017-04-26 21:53] ariel-phet commented on #69
Will assign to @pixelzoom when ready

[2017-04-27 17:44] phet-steele commented on #65
@amanda-phet @jonathanolson now hold on one second 😄! One of the things @brroberts1231 said was maybe overlooked:

Animations do not always restart upon toggling the reveal button. The user has to change a value first, so we've now lost the ability to watch the animation repeatedly. It's not necessarily the most important feature, but it's a nice one I see no reason to take away. To elaborate:

In

[2017-04-27 19:26] phet-steele commented on #70
FWIW, I'm still quite against this. I don't see the performance gain one way or the other. Simply from testing between dev.23 and dev.25 (w/ and w/o the change) the sim still crashes all the same. If anything, a slower interval is what feels like slower performance, since it feels like the sim is struggling to chug along. This perception stems from the fact that manual pressing is still ***so*** m

[2017-04-27 19:30] jonathanolson commented on #70
While the crashing seems like a potentially separate issue, the timer delay (now that I've been working more with it) feels oppressively slow on any fast device.

I'd personally rather the sim feels normal/smooth on most devices than slowish on everything.

Maybe it would be worth time looking to detect old iPad versions to remove the gradients and see if that helps performance? Maybe whatever is

[2017-04-27 20:50] phet-steele opened #73 "Center of the paint image is not static"
@jonathanolson it looks like the paint image does not scale symmetrically around its center and/or the center moves when paint is added/removed. This is apparent when watching the location of the drips at different paint sizes. Using the edges of the spinners as a reference, notice that as the splotch decreases in size, the origin of the drips moves to the right with respect to the entire screen.

[2017-04-28 20:48] ariel-phet commented on #70
@jonathanolson first fix the crashing, and then lets talk.

Edit: also the fire on hold is not a "key" feature for this sim in my opinion. But crashing is not acceptable. I would prefer not to detect old iPad versions. I think most students are not going to be clicking blazing fast, that is not really the point of the sim. So crashing is the first thing to address, once we fix that lets see where

[2017-05-03 19:20] amanda-phet commented on #45
The current color gradient is working well for me. Closing this issue.

[2017-05-03 19:20] #45 closed

[2017-05-03 19:25] amanda-phet commented on #65
It is definitely not critical, and at this point really need to get the sim finished off so I'm going to say we can skip this quality-of-life feature. The animation is not necessary to compare two patterns. Instead, it's there to help students make predictions about the final state and update their predictions as they watch. This is still possible for the new table, and still allows them to compar

[2017-05-03 19:25] #65 closed

[2017-05-03 19:28] amanda-phet commented on #63
I would like to leave the button as-is, and will plan to ask students in future interviews to specifically look at this button. @amyh-phet and @arouinfar if you have any upcoming interviews please let me know so we can discuss showing Proportion Playground, otherwise the next round will probably be for Area Model this summer.

[2017-05-03 19:28] #63 closed

[2017-05-03 19:33] phet-steele opened #74 "The case of the perplexing crash"
@jonathanolson @ariel-phet here's the most recent procedure to MAYBE make 1.0.0-dev.26 crash on iPad 2 iOS 9.3.5:

1. Open sim (maybe a crash here)
2. Select Explore, single necklace
3. Increment both sliders to 20, using fire and hold (I used two fingers each holding a spinner, but I recall this as being unnecessary in dev.25).
4. You may crash on your way to 20/20, or at 20/20. You may instead c

[2017-05-03 19:35] amanda-phet commented on #70
Where does this issue currently stand? Are we nixing the spinner slowdown since it doesn't help with performance? If so, I believe it still needs to revert back to the normal speed.

[2017-05-03 19:35] amanda-phet commented on #70
Where does this issue currently stand? Are we nixing the spinner slowdown since it doesn't help with performance? If so, I believe it still needs to revert back to the normal speed.

[2017-05-03 20:32] jonathanolson commented on #74
Does it give any reasons in XCode if tethered during the crash? What does the typical iOS memory usage for the sim look like?

[2017-05-04 03:24] jonathanolson commented on #74
Will plan to look in person tomorrow, as I'm unable to get Lave (9.3.5 iPad 2) to crash.

[2017-05-05 07:11] jonathanolson commented on #74
I found (and fixed) an issue that was causing the creation of many excess canvases and svg elements, which happens close to startup. I've published http://www.colorado.edu/physics/phet/dev/html/proportion-playground/1.0.0-dev.27/proportion-playground_en.html with the fix.

This will hopefully prevent the crashes, and also offers somewhat of a performance improvement on the iPad 2 I have with me.

[2017-05-05 07:17] jonathanolson commented on #70
I believe the latest patch helped out performance. I went back and tested with no delay, and I feel strongly that the sim feels significantly slower WITH the delay. Reducing the delay makes the sim "feel" faster.

I've (for now) committed a change to revert this back to the original value so it can be tested with the now (somewhat better) performance.

[2017-05-08 17:31] ariel-phet commented on #69
@pixelzoom sim is ready for code review

[2017-05-08 17:36] pixelzoom commented on #69
Got it, I'll start on code review immediately.

[2017-05-08 18:07] pixelzoom opened #75 "layout bug with stringTest=long"
Related to #69 (code review).

Label falls outside the Screen's layoutBounds.

![screenshot_256](https://cloud.githubusercontent.com/assets/3046552/25818140/d546e1c2-33e6-11e7-8bf5-96dbd79c3db7.png)

[2017-05-08 18:13] pixelzoom opened #76 "non-standard keys for Screen names"
Related to #69 (code review).

From the code-review checklist:

Screen names are currently:

[code]

Keys should be `screen.explore` and `screen.predict` respectively.

[2017-05-08 18:25] pixelzoom opened #77 "document paint-gradient-colors.html and blue-green-gradient.png"
Related to #69 (code review).

Quite by accident, I discovered that assets/paint-gradient-colors.html looks like it was used to generate blue-green-gradient.png.   I searched for those file names, not found, so no idea what they are used for, or how they might be useful to future maintainers.  Please document, perhaps in implementation-notes.md.

[2017-05-08 18:37] pixelzoom opened #78 "clean up assets directory"
Related to #69 (code review).

The assets directory needs to be cleaned up.   It should be straightforward for future maintainers to locate the artwork that was actually used in the sim.

For example:

- [ ] fruitstand.ai, fruitstand2.ai - 2 fruit stands, neither of which appears to have been used. Delete these?

- [ ] ballons.ai, paint-balloons.ai, paint-scene.ai - 3 version of the paint balloons

[2017-05-08 18:40] pixelzoom commented on #69
Imo, this item doesn't belong in the code-review checklist:

Credits (specifically QA) are never known at this stage in development.

Credits for this sim are being tracked in https://github.com/phetsims/proportion-playground/issues/71.

[2017-05-08 18:44] pixelzoom commented on #69
Imo, this item doesn't belong in the code-review checklist:

Credits (specifically QA) are never known at this stage in development.

I have changed the master code-review checklist (and this sim's checklist) to:

Credits for this sim are being tracked in https://github.com/phetsims/proportion-playground/issues/71, so the revised checklist item is passed.

[2017-05-08 18:49] pixelzoom opened #79 "review model.md"
Related to #69 (code review).

From the code-review checklist:

@amanda-phet Would you please review [model.md](https://github.com/phetsims/proportion-playground/blob/master/doc/model.md)?  Does it have an appropriate level of detail, and the correct language, for its audience?

[2017-05-08 18:51] pixelzoom opened #80 "branch: drip2"
Related to #69 code review.

Document this branch or delete it.

[2017-05-08 18:55] pixelzoom opened #81 "NecklaceLayout uses DOT.Random"
Related to #69 code review.

In `NecklaceLayout`:

[code]

Does `NecklaceLayout` have a legitimate reason to be using its own instance of `Random`?  If so, document it. If not, convert to `phet.joist.random`.

[2017-05-08 19:04] pixelzoom opened #82 "relocate ProportionPlaygroundQueryParameters"
Related to code review #69.

From the checklist:

The sim does have `ProportionPlaygroundQueryParameters`.   But it's located at the top level of `js/`, and I was expecting to find it in `js/common/`.   This appears to be the only multi-screen sim that doesn't locate this file in `js/common/`, so suggested to relocate it.  (Single-screen sims put this file in the directory for their single screen,

[2017-05-08 19:12] pixelzoom opened #83 "code formatting"
Related to code review #69.

From the checklist:

"Reformat code" in IDEA changes 26 files.   Many (all?) are places where @jonathanolson's indentation preferences don't match phet-idea-code-style.xml.

[2017-05-08 19:18] pixelzoom commented on #83
I took the liberty of making the formatting changes that didn't seem to be related to @jonathanolson's indentation preferences, see above commit.

13 files remain that don't match PhET formatting, and they are all indentation differences like this one in AppleGroup.js.   @jonathanolson's formatting is:

[code]

IDEA formatting is:

[code]

@jonathanolson up to you whether to address this.

[2017-05-08 19:22] pixelzoom opened #84 "incorrect copyright headers"
Related to code review #69.

Only 2 source files have a copyright date that includes "2017".
Need to run `grunt update-copyright-dates`.

[2017-05-08 19:27] pixelzoom opened #85 "TODO items with no associated GitHub issue"
Related to code review #69:

The sim currently has 14 TODO items that do not have associated GitHub issues.

[2017-05-08 19:30] pixelzoom opened #86 "comment refers to PropertySet"
Related to code review #69:

`ProportionPlaygroundColorProfile` refers to `PropertySet`:

[code]

[2017-05-08 19:44] pixelzoom opened #87 "should dt be capped in the view?"
Related to code-review #69:

`dt` is capped in the model (see `ProportionModel.step`), but not in the view (`ProportionScreenView.step`).   If that's OK, then it would be useful to have either (a) a comment in the code that says why it's not capped in the view, and/or (b) a note in implementation-notes.md.

[2017-05-08 19:55] pixelzoom opened #88 "vestigial stuff related to WebGL"
Related to code review #69:

This sim apparently doesn't use WebGL, but I was lead to believe that it does by this comment in SplotchControl:

[code]

This comment refers to Nodes that are being added for the purposes of WebGL.  So perhaps those Nodes can be removed.

Skype discussion:

[5/8/17, 1:51:12 PM] Jonathan Olson: I used to use renderer: 'webgl' for balloon images, and had a WebGL Node fo

[2017-05-08 20:01] jonathanolson commented on #80
Branch looks like it was merged into master, so I've deleted it.

[2017-05-08 20:05] jonathanolson commented on #88
Removed the code that added the invisible balloon images and the comment (since both were unneeded), and the global variable that contained a list of all images (since it was the only reference).

[2017-05-08 20:07] #80 closed

[2017-05-08 20:08] #88 closed

[2017-05-08 20:11] pixelzoom commented on #84
@jonathanolson fyi, I took care of this.

Closing.

[2017-05-08 20:11] #84 closed

[2017-05-08 20:12] jonathanolson commented on #87
@pixelzoom, I'd like your thoughts on whether it should be capped. It's just used for somewhat ephemeral animations (the balloons and drips, which both go away quickly), so I figured it would be somewhat preferred if those animations are fully finished when someone "tabs back" to the sim.

[2017-05-08 20:12] jonathanolson commented on #84
Thanks!

[2017-05-08 20:13] jonathanolson commented on #86
ColorProfile doesn't use PropertySet anymore, I'll update the comment.

[2017-05-08 20:14] pixelzoom commented on #87
I don't have a lot of experience with capping `dt`, first time I've had to do so was in unit-rates, and I did so only in the model.  So I would say "your call, just document what you decide".

[2017-05-08 20:16] jonathanolson commented on #83
I currently don't have a working IDEA installation. Can you apply the formatting changes to master and I'll review? The above mentioned change is acceptable (but similar changes where alignment is more helpful, like with Matrix3 parameters, may need fixing).

[2017-05-08 20:20] jonathanolson commented on #81
It has the requirement that the stream of random numbers needs to be the same for every equivalent ratio, so that (10,8) has the same "distortion" as (20,16). Somewhat mentioned in the function's comment:

[code]

[2017-05-08 20:21] pixelzoom commented on #83
Remaining IDEA formatting issues pushed.

[2017-05-08 20:22] jonathanolson commented on #77
Looks unused. I'll plan to remove them.

[2017-05-08 20:25] pixelzoom commented on #81
@jonathanolson I added documentation to the instantiation of Random, see if it's OK with you.

[2017-05-08 20:26] jonathanolson commented on #83
I'll want to fix the code-comment positioning in SceneRatioControl.

Otherwise I don't care enough about the other changes to come up with a preferred code formatting solution.

[2017-05-08 20:27] jonathanolson commented on #81
Sounds great, thanks!

[2017-05-08 20:27] #81 closed

[2017-05-08 20:29] jonathanolson commented on #85
I swear I had removed some of these on one of my devices (e.g. the "TODO: Isolate into six colors that don't have names?" where I decided it was fine and removed the comment).

I'll check into whether I have isolated commits somewhere, but I don't think I made any significant changes. I'll plan to have these resolved.

[2017-05-08 20:42] pixelzoom opened #89 "precarious proximity of reset buttons"
This layout (necklace scene) seems a bit precarious, putting the "reset scene" and Reset All buttons so close to each other.

![screenshot_257](https://cloud.githubusercontent.com/assets/3046552/25824396/7ce07a5a-33fc-11e7-937b-498b2fea1a2f.png)

[2017-05-08 21:05] pixelzoom opened #90 "billards table?..."
Related to code review #69... sort of.

I played around with the sim before reviewing the code.  I never recognized the "billiards" scene until I started reading the code.

Perhaps it's because the billiards table is missing 2 of it's standard 6 pockets (the 2 side pockets are missing), or the typical wood edge, or the rounded corners, or....

Here's an example of a cartoonish billiards table:

![

[2017-05-08 21:07] pixelzoom commented on #90
Here's what it looks like in the sim.  I realize that this is effectively a 2D graph.  But I never made it past "graph with point", never made the connection to billiards.

![screenshot_258](https://cloud.githubusercontent.com/assets/3046552/25825358/05aea3cc-3400-11e7-8f17-2ea555976b8a.png)

[2017-05-08 21:15] pixelzoom opened #91 "anti-pattern for propagating options"
I see this pattern in a couple of places, but here's an example in `BilliardsTableControl`:

[code]

Passing one set of options to the supertype constructor, then passing another set of options to `mutate` is (imo) an anti-pattern.  And it's rarely necessary to do this.

Other places where this anti-pattern appears:

• RevealButton (very unnecessary)
• AppleGraphNode
• BilliardTableIcon (again, ve

[2017-05-08 21:15] pixelzoom commented on #91
Related to code review #69.

[2017-05-08 21:50] pixelzoom opened #92 "options vs constructor parameters"
Related to code review #69.

There are some cases where I think options (rather than constructor parameters) would improve readability at constructor call sites.

`BilliardsTable` is an example, others are similar.  Here's the current constructor signature:

[code]

Here are the current uses:

[code]

Difficult to know what the arguments are without looking at the constructor documentation.  And a

[2017-05-08 21:58] pixelzoom opened #93 "Screen constructors are confusing because of icon code"
Related to code review #69.

`ExploreScreen` is confusing because there's a bunch of stuff related to creating the home screen icon that's in the constructor.  I was wondering "why does ExploreScreen need an additional BilliardsTable instance? And why doesn't PredictScreen have one?"

Recommended to move the code that creates icons (home screen and navbar) to private functions, outside of the cons

[2017-05-08 22:16] pixelzoom commented on #93
@jonathanolson I went ahead and did this because it was easy.  If you don't like it, feel free to revert or change.  If you like it, close.

[2017-05-08 22:20] pixelzoom opened #94 "misc REVIEW comments"
I added REVIEW comments in the source code for miscellaneous things that didn't warrant their own issue.

[2017-05-08 22:28] pixelzoom opened #95 "memory management is not documented"
Related to code-review #69.

@phet-steele has verified that the sim doesn't leak memory, so I didn't spend time on that.  But the code-review checklist has other items related to memory management:

match the filename.

There is exactly 1 implementation of `dispose` (in `PaintBalloonNode`) and it's called in `SplotchControl`.   So I'm guessing that paint balloons are the only thing that's dynamica

[2017-05-08 22:32] pixelzoom opened #96 "provide an overview of memory management in implementation-notes.md"
Related to code review #69 and https://github.com/phetsims/proportion-playground/issues/95.

implementation-notes.md should include a general overview of memory management.  What exists for the lifetime of the sim, what is created dynamically and therefore requires `dispose`, etc.

[2017-05-08 22:36] pixelzoom commented on #94
Related to code review #69.

[2017-05-08 22:38] pixelzoom commented on #69
Code review is completed. The sim is in overall excellent shape. Code is clean, very readable, a pleasure to review.  It's also a really fun sim. Nice work!

I created 21 related issues (all linked above), but nothing serious.  An ❌ next to a checklist item means that I created an issue related to that item, and the item will be check off when the issue is closed.

[2017-05-08 22:38] pixelzoom commented on #69
Assigning to @jonathanolson to address code-review issues.  Feel free to assign issues to me for verification.

[2017-05-09 07:09] jonathanolson commented on #87
Uncapped DT, documented in above commit.

[2017-05-09 07:09] jonathanolson commented on #87
Clarification: View dt being kept as uncapped. Model dt is capped.

[2017-05-09 07:11] jonathanolson commented on #89
I'm definitely open to any suggestions. @amanda-phet, thoughts on whether an alternate solution (maybe even on the left side) would be better?

[2017-05-09 07:15] jonathanolson commented on #90
At least rounding the outside corners might be a nice visual touch.

I believe I also didn't immediately get the billiards concept visually (even with a brown border, e.g. http://www.colorado.edu/physics/phet/dev/html/proportion-playground/1.0.0-dev.10/proportion-playground_en.html), but I'm also don't think the reference is critical.

[2017-05-09 07:24] jonathanolson commented on #91
I guess I'd like to understand more about how this is an anti-pattern. Is it the fact that the "default options" in the extend aren't used by the supertype? Say you have an example:

[code]
It's functionally different from:
[code]
since ```new ExampleNode( { left: 50 } )``` behaves very differently, only properly positioning the first example. The options (which may contain positional/bounds-relat

[2017-05-09 07:26] jonathanolson commented on #92
Agreed, options usage there is more readable. I'll plan to refactor some sites (assigned to me for that).

@pixelzoom, any other areas besides BilliardsTable where you would recommend this?

[2017-05-09 07:28] jonathanolson commented on #93
Agreed, looks more readable. Thanks!

[2017-05-09 07:28] #93 closed

[2017-05-09 07:35] jonathanolson commented on #94
@pixelzoom, can you check https://github.com/phetsims/proportion-playground/commit/7e865395d9f185b80b5f53747f17f2a74df4471d to see if that's acceptable? I originally had a inline function in a derived property that created a long/confusing line so broke it out separately. I essentially reverted that but broke out the 'watched properties' for readability. Is that acceptable?

[2017-05-09 07:40] jonathanolson commented on #94
Also may be good to discuss nested functions. I also saw a similar comment in AppleGraphNode:
[code]

My original instinct is to keep small helper functions "inline" in front of the code that uses them, since they won't have other usages.

As a general rule, should I be more keen on putting these at the "top-level" scope (or as static methods on the type?)

[2017-05-09 07:56] jonathanolson commented on #94
I'd also like advice on the following line:
[code]

So... I agree, it's definitely not obvious. It seems to be half the amount that the second bead (in one of the two-bead patterns) is shifted over x-wise from the origin.

The priorities seemed to be to keep the current behavior for shape, and I've had to add some workarounds (like properly re-centering the given shapes, thus the containerTranslat

[2017-05-09 15:09] #87 closed

[2017-05-09 15:11] pixelzoom commented on #89
Data points: In Unit Rates and Equality Explorer, we are putting the reset button to the left of the scales.  The rationale was that it would less likely to be accidentally hit by right-handed students, and was unlikely to be confused with the Reset All button.

[2017-05-09 17:01] jonathanolson commented on #86
Fixed, and improved documentation.

[2017-05-09 17:03] jonathanolson commented on #83
Applied the one fix. I believe this is safe to close, let me know if there's something else.

[2017-05-09 17:03] #83 closed

[2017-05-09 17:05] jonathanolson commented on #82
Moved in above commit.

[2017-05-09 17:07] jonathanolson commented on #76
Fixed in commit above.

[2017-05-09 17:14] jonathanolson commented on #75
Ahh, I forgot to add a maxWidth to the price tag (that's pushing it out):
![screen shot 2017-05-09 at 11 13 47 am](https://cloud.githubusercontent.com/assets/480878/25863298/9c7c0292-34a8-11e7-9d1d-2c65490e1c2a.png)

[2017-05-09 17:17] #82 closed

[2017-05-09 17:18] #76 closed

[2017-05-09 17:19] #86 closed

[2017-05-09 17:20] jonathanolson commented on #75
Fixed the max width (and translated the apple string). Everything should fit now:
![screen shot 2017-05-09 at 11 20 18 am](https://cloud.githubusercontent.com/assets/480878/25863557/86cc03c4-34a9-11e7-9353-44b7805be91e.png)

[2017-05-09 17:26] pixelzoom commented on #94
@jonathanolson asked:

If they aren't part of the public interface, then "top-level" scope.  I think keeping unnecessary things out of the constructor is a good general habit. Especially in common code, where one shouldn't make assumptions about how many times a type may be instantiated.

FYI, I've been putting private functions after the namespace `register` call, so that the constructor is still

[2017-05-09 17:28] pixelzoom commented on #94
@jonathanolson asked:

I think a comment is fine at this point, not worth the risk in making a major change.  But perhaps your comment should be what you said in this issue:

[code]

[2017-05-09 17:32] pixelzoom commented on #92
@jonathanolson asked:

I did a quick look, didn't see any others. Guess I zeroed right in on BilliardsTable ;)

[2017-05-09 17:51] pixelzoom commented on #91
@jonathanolson and I discussed via Skype.

[2017-05-09 17:52] #75 closed

[2017-05-09 18:03] jonathanolson commented on #91
BilliardsTableControl relies on the supertype constructor creating leftPicker/rightPicker (which are then added as ancestors in a VBox), so I can't use the 'overriding children' pattern. Ignoring that file for now.

[2017-05-09 18:17] jonathanolson commented on #91
I'm thinking of bailing on the other two (BilliardTableIcon and GradientIndicatorNode) since they directly extend Node and don't handle options themselves, thus it's a preference for:
[code]
OR
[code]

and I find the first to be a bit cleaner.

Changes were applied in two of the cases. @pixelzoom can I get your opinion on whether this is sufficient?

[2017-05-09 18:30] pixelzoom commented on #91
Re https://github.com/phetsims/proportion-playground/issues/91#issuecomment-300256095 ...  A subtype of Node either does or doesn't allow the client to decorate (add additional children to) the Node.  What you've identified as the "cleaner" pattern doesn't behave correctly in either case - the subtype can't be decorated, and the client can accidentally blow away the subtype's children.

That said.

[2017-05-09 18:34] pixelzoom commented on #91
FYI, here are the 2 patterns that I use related to decoration via `options`.

[code]

[2017-05-09 18:57] jonathanolson commented on #96
Reviewed, and fixed one memory leak (commits above) discovered, since a DerivedProperty was getting created (but not disposed) for every PaintDripNode.

[2017-05-09 19:05] #96 closed

[2017-05-09 19:06] pixelzoom commented on #95
@jonathanolson addressed this in #96.

 Closing.

[2017-05-09 19:06] #95 closed

[2017-05-09 19:08] jonathanolson commented on #91
I generally only have a 'children' option on `Node`, layout types, or other basic Scenery types (e.g. `Path`), and generally never override this. If it's a problem, we should probably fix it first in common code.

I believe almost every button (`RectangularButtonView`, `RoundButtonView`), `CheckBox`, `Panel`, `HSlider` and many other types completely break if you pass `{ children: [] }` in their o

[2017-05-09 19:16] jonathanolson commented on #92
Done in commit above.

[2017-05-09 19:23] pixelzoom commented on #91
Indeed, many (most?) common-code components will break if you attempt to decorate them.  This came up recently when @samreid needed to decorate `ProbeNode`, and he added decoration support (line 212).

In general, I prefer to _not_ support decoration, as it tends to simplify implementation. And if I need to decorate a Node, I don't decorate it directly -- I add the decoration and the decoratee to

[2017-05-09 19:23] #91 closed

[2017-05-09 19:24] jonathanolson commented on #94
Handled all inline REVIEW comments, commits are tagged to this issue (above).

[2017-05-09 19:25] #92 closed

[2017-05-09 19:26] #94 closed

[2017-05-09 19:29] pixelzoom commented on #78
Presumably the apple in this sim is the same as the one in unit-rates. So rather than create apple.ai, you could put a note in images/license.json indicating that apple.png was create using unit-rates/assets/apple.ai.

[2017-05-09 19:31] amanda-phet commented on #89
Given the new standard to have this button on the left I think this is probably the right call. I'm not sure of the best placement though, but low makes sense to be consistent with the other scenes.

<img width="867" alt="screen shot 2017-05-09 at 1 26 49 pm" src="https://cloud.githubusercontent.com/assets/7852916/25868949/c1edb1e8-34bb-11e7-9ed7-73c933da7c87.png">

<img width="670" alt="screen sh

[2017-05-09 19:32] jonathanolson commented on #78
Or we should move the Apple to a common location (scenery-phet?)

[2017-05-09 19:34] jonathanolson commented on #78
paint-scene.ai is for the scene icon (used), so I'll keep it also.

[2017-05-09 19:36] pixelzoom commented on #78
Well.... If we moved to scenery-phet, we should move both the asset (applie.ai) and the image (apple.png).  Do we have any precedent for putting resources in a common-code repo that aren't used by code in that repo?

Given the amount of image copying that seems to go on between repos, I'm inclined to just ignore this for now.

[2017-05-09 19:36] amanda-phet commented on #90
The reference is not critical, that is correct. In interviews, when specifically asked about it they did not know this was a billiards table (but understood the logic of the path). However, students spent more time on this scene than any other scene, as they were really interested in the patterns formed.

I'm ok with rounding the corners. Adding middle pockets doesn't make sense because the ball c

[2017-05-09 19:37] pixelzoom commented on #78
Indeed. I didn't notice that it corresponds to paint-scene.png.

[2017-05-09 19:42] pixelzoom commented on #90
My 2 cents... Rounded corners and a brown border (as @jonathanolson pointed to in 1.0.0-dev.10) would be simple and effective improvements.

 1.0.0-dev.10:

![screenshot_259](https://cloud.githubusercontent.com/assets/3046552/25869417/7691672e-34bd-11e7-8f94-91fba444b874.png)

[2017-05-09 19:48] jonathanolson commented on #78
As part of https://github.com/phetsims/make-a-ten/issues/231, I moved hand.png and hand.ai from states-of-matter to scenery-phet. That's been the only other case of duplicated images I was aware of.

Feels unclean to me, however the images are of different sizes. I'd take a shot at having both sims use the same image, but you might need specific (even-numbered) dimensions for your image?

[2017-05-09 19:51] pixelzoom commented on #79
@jonathanolson I'm having trouble groking this sentence:

... specifically the "thus with (width+height)/gcd bumps/endpoints" part.

[2017-05-09 19:52] jonathanolson commented on #78
Current artwork map (upcoming commit):

- crate-front.png/crate-back.png => crate.ai
- paint-scene.png => paint-scene.ai
- (all the balloons) => paint-balloons.ai
- apple-red.png => unit-rates' apple.ai (may refactor to common usage)
- coin.png => new coin.ai (extracted from apple-scene-artwork.ai)

[2017-05-09 19:57] pixelzoom commented on #78
Looks good.

If you decide to refactor the apple, I advise against touching unit-rates/images/apple.png.  The relative sizes of PNG files are important in unit-rates, because there's a uniform scale (`URConstants.SHOPPING_ITEM_IMAGE_SCALE`) applied to all "item" images.  So if you change the dimensions of apple.png, its unlikely to be a good experience.

[2017-05-09 20:03] #78 closed

[2017-05-09 20:05] jonathanolson commented on #90
I'll commit rounded corners, however I wasn't trying to recommend a border color (still uncertain). I might test some color combinations to see if I can come up with any improvements.

[2017-05-09 20:07] pixelzoom commented on #78
Re "the apple"... @jonathanolson and I discussed on Skype, and decided that the safest/simplest thing to do was to copy unit-rates/assets/apple.ai to proportion-playground/assets/.

[2017-05-09 20:14] pixelzoom commented on #89
Hmmm... That reset button sure moves around a lot.  For some of the ratio views, it's centered over the AB (1/2) switch.  And putting it on the right is a little problematic with the balloons scene, because the gradient radio buttons are over there.   The only scenario that's actually "precarious" is the one shown in my original screenshot.  Maybe just address that one by shifting the reset button

[2017-05-09 20:16] pixelzoom commented on #89
... or reduce the height of the Pattern display and put the rest button above the 1/2 switch, where it is in other ratio views?

[2017-05-09 20:17] jonathanolson commented on #90
Current colors:
![proportion-playground-current-colors](https://cloud.githubusercontent.com/assets/480878/25870521/8fac2c36-34c1-11e7-8cae-77a32aa96952.PNG)

An initial attempt at color changes if we want a more 'billiards' like appearance:
![proportion-playground-potential-colors3](https://cloud.githubusercontent.com/assets/480878/25870604/edcc719a-34c1-11e7-92e6-322c0334ac91.PNG)

billiardsInsid

[2017-05-09 20:19] jonathanolson commented on #90
I also prefer a re-colored ball (to look like a cue ball):
![proportion-playground-potential-colors4](https://cloud.githubusercontent.com/assets/480878/25870732/6da23f6c-34c2-11e7-96c2-8267576d544d.PNG)

billiardsBallHighlight: 255,255,255
billiardsBallMain: 224,224,224

[2017-05-09 20:22] pixelzoom commented on #90
https://github.com/phetsims/proportion-playground/issues/90#issuecomment-300289058 (immediately above) looks like a nice improvement to my eye.

[2017-05-09 20:22] amanda-phet commented on #90
I'm not sure why we changed the border to black... perhaps it was to make the table "pop" as Ariel likes to say? I looked in the meeting notes and the github issue and there is no reason stated, and my memory is not what it used to be ;)

I like the new look. I'm not sure why the ball ever got a yellow glow (perhaps to make it look more round?) but it was always supposed to look white.

All of the

[2017-05-09 20:23] pixelzoom commented on #90
Making the ball white certainly makes it look more like a cue ball.

[2017-05-09 20:23] amanda-phet commented on #90
@jonathanolson please feel free to commit the changes.

[2017-05-09 20:27] jonathanolson commented on #90
On master, let me know if there should be any additional tweaks.

[2017-05-09 20:28] pixelzoom commented on #90
Looks great - icons, everything.  @amanda-phet feel free to close if you don't have any additional tweaks.

[2017-05-09 20:31] pixelzoom commented on #77
@jonathanolson removed these files in https://github.com/phetsims/proportion-playground/issues/78.

Closing.

[2017-05-09 20:31] #77 closed

[2017-05-09 20:34] amanda-phet commented on #90
Yup, everything looks good!

[2017-05-09 20:34] #90 closed

[2017-05-09 20:56] amanda-phet commented on #89
I think you mean *left* here. I agree.

Unfortunately, we have discussed the location(s) of this button for quite a while and settled on the current semi-consistent behavior. I don't think we can reduce the height of the pattern display. In the worst-case scenario, this seemed as small as we could go with the bead size.

<img width="1070" alt="screen shot 2017-05-09 at 2 35 43 pm" src="https://clo

[2017-05-09 21:04] jonathanolson commented on #79
Clarified wording. @pixelzoom, is that better? It was definitely confusing beforehand.

[2017-05-09 21:31] jonathanolson commented on #85
Only one TODO left, referencing https://github.com/phetsims/proportion-playground/issues/71.

Any TODO change of significance references this issue (I think there was one change that removed an irrelevant TODO not tagged here).

[2017-05-09 21:59] jonathanolson commented on #73
Should be fixed in master with the above commit. @phet-steele can you confirm?

[2017-05-09 22:03] jonathanolson commented on #69
I believe I've handled all issues, but leaving assigned to me until they are all confirmed.

[2017-05-09 22:20] pixelzoom commented on #79
Yep, that makes much more sense, thanks.

Back to @amanda-phet to decide if model.md is sufficient for teachers.

[2017-05-09 22:22] pixelzoom commented on #89
@amanda-phet said:

Sounds good.  Nothing to change, so closing at "won't fix".

[2017-05-09 22:22] #89 closed

[2017-05-09 22:24] pixelzoom commented on #85
Looks great. Closing.

[2017-05-09 22:24] #85 closed

[2017-05-09 22:26] pixelzoom commented on #69
All issues verified, except #79 (review model.md) which needs to be handled by @amanda-phet.  I'm going to go ahead and check that one off in the checklist, and call this code review "done".   Closing.

[2017-05-09 22:26] #69 closed

[2017-05-10 02:43] amanda-phet commented on #79
This is for teachers? I think that the wording is fine and understandable, but I wouldn't add this detail to something like teacher tips.

I'm not totally sure what this model.md documentation is really for. I've never reviewed this in the past.

[2017-05-10 03:37] jonathanolson commented on #79
I think (?) it's purpose is so we can direct teachers who ask questions about how the model works to that file (or refer to it when asking questions)?

[2017-05-10 08:16] jonathanolson opened #97 "RadioButtonGroup (used for scene selection buttons) cursor issue"
It seems that the mouse-over cursor for the "selected" button is the default cursor, NOT the hand as I'd expect.

Seems to affect not just this sim, but other usages of the component (just added it into area-model and noticed).

@ariel-phet, thoughts on whether this could be changed to STAY as the hand-cursor like would be expected?

[2017-05-10 15:17] amanda-phet commented on #79
I think it is clear enough for this purpose.

[2017-05-10 15:17] #79 closed

[2017-05-10 16:33] pixelzoom commented on #79
model.md provides a high-level description of the model. It's intended for audiences
that are not necessarily technical.  It's what we point people to who ask "how does the model work?"

[2017-05-10 16:55] ariel-phet commented on #97
@jonathanolson - honestly I have never noticed this behavior (since normally I only hover over the scene I would like to switch to). It has never caused any user interaction issues in its current state, and I doubt it would be a problem if the hand appeared as you expect.

If you wish to adjust it moving forward for PP and area-model, feel free. No maintainence releases or such necessary however.

[2017-05-11 05:18] jonathanolson commented on #97
I'd also like to verify that no-one is relying on this behavior, tagging for developer meeting.

[2017-05-11 18:17] pixelzoom commented on #97
OK with me to change the behavior.  Current behavior doesn't bother me.

[2017-05-11 18:24] samreid commented on #97
To me, having the arrow cursor over the selected radio button is a useful cue that you are already in that selection, and that pressing it would do nothing.  What is the reason for changing this?

@mkaoudis and @Denz1994 agree about that

@aadish says it should only be a hand cursor if pressing the button would do something.

[2017-05-11 18:27] pixelzoom commented on #97
Here's the related code in RadioButtonGroup, line 260:

[code]

[2017-05-11 18:30] #97 closed

[2017-05-11 18:30] samreid commented on #97
We decided the current behavior is desirable.

[2017-05-15 19:59] phet-steele commented on #73
Beautiful @jonathanolson!

[2017-05-16 18:30] phet-steele commented on #74
Unable to have 1.0.0-dev.27 crash. Also haven't made rc.1 crash, will reopen if it does.

[2017-05-16 18:30] #74 closed

[2017-05-16 19:00] phet-thor opened #98 "1 : 2 Switch images are not scaled equally"
On both billiards screens (Explore and Predict), the size of the images for the one and two billiard tables are not the same size.

![image](https://cloud.githubusercontent.com/assets/28736100/26122831/1362ed5c-3a36-11e7-8522-2403317b5e83.png)

For comparison, the apples 1 : 2 switch is the same size.
![image](https://cloud.githubusercontent.com/assets/28736100/26123105/f6a96ea6-3a36-11e7-85d4-362

[2017-05-16 19:11] jonathanolson commented on #98
Fixed in master, @phet-steele or @phet-thor does that look good? (Keep open, I'll need to cherry-pick commit to RC branch).

[2017-05-16 19:54] phet-thor commented on #98
fixed, thanks @jonathanolson

[2017-05-16 20:38] jonathanolson commented on #98
Cherry-picked, thanks!

[2017-05-16 20:38] #98 closed

[2017-05-18 14:14] maggiewiseman opened #99 "long string text looks too small to read in pattern box"
Test device: Macbook Air

Operating System: OS X 10.12.4

Browser: Chrome Version 58.0.3029.81 (64-bit)

Problem description:
Using long strings query parameter, text appears too small to read on main explore screen as well as on billiard scene and apple scene.

Steps to reproduce:
1. Open sim with stringTest=long query parameter.
2. Click on left option after simulation loads (the one that would

[2017-05-18 16:43] phet-steele commented on #99
@maggiewiseman all of this is okay. Remember that a sim only needs to pass a stringTest by not having a string overextend into or onto another sim element. The fact that strings get smaller as they get longer is a good thing since otherwise they would cover the whole screen. In reality, a translator would never put such a long string in a sim where they would become impossible to read.

[2017-05-18 16:43] #99 closed

[2017-05-18 16:44] amanda-phet commented on #99
Thanks @phet-steele I was going to talk to you about this when I came in today! Thanks for clarifying for us.

[2017-05-18 18:01] phet-steele commented on #70
@ariel-phet @amanda-phet, how doth the spinners fare?

[2017-05-18 19:55] EthanWJohnson opened #100 "Slight delay in proportion slider on Paint Predict screen"
(Congratulations: You are the 100th issue! [CLICK HERE]() to claim your prize!)
Seen in Windows 10 Chrome

If you switch between invisible and visible fast enough after changing the proportions on the paint screen (particularly, adding any paint) the proportion slider has not yet caught up, while the paint splotch has.

Relevant gif:
![lagged](https://cloud.githubusercontent.com/assets/22551096/26

[2017-05-18 21:39] jonathanolson commented on #100
Added potential fix, can you verify that it works as expected (and do a bit more testing with anything that changes the splotch's visibility to make sure nothing broke?)

[2017-05-18 22:38] EthanWJohnson commented on #100
Looks good on master and i'm not seeing any unintended side effects!

[2017-05-18 22:38] #100 closed

[2017-05-19 01:15] jonathanolson commented on #100
Cherry-picked to 1.0

[2017-05-19 17:19] ariel-phet commented on #70
Performance feels quite smooth on iPad2 now. Closing

[2017-05-19 17:19] #70 closed

[2017-05-19 19:25] phet-steele opened #101 "Splotch size can be vastly exaggerated after many balloons hit at once"
@jonathanolson don't feel like you have to fix this since it is a devious multitouch.

1. Go to the paint on the explore screen.
2. Use finger A to fire and hold increasing a color, then a second later use finger B to fire and hold decreasing the same spinner. This should allow you to achieve endless balloons and paint dripping for that particular spinner. Do not release these fingers ever.
3. Use

[2017-05-19 20:28] jonathanolson commented on #101
Multitouch not technically needed, the spinner just needs to alternate quickly enough.

Caused because when balloons hit, they instantly add splotch area, but drips don't instantly take it away (slowly drains from the splotch). So if you hit 100 balloons at approximately the same time as 100 drips start, the splotch size shoots up for a short period until the drips "drain" the splotch to the corre

[2017-05-19 21:24] jonathanolson commented on #101
Pushed a potential fix (for the more permanent bug) and a workaround (for the temporary amount of paint exceeding the normally permitted size).

@amanda-phet, does this workaround seem acceptable?

[2017-05-19 21:36] jonathanolson commented on #101
@phet-steele reported the potential fix didn't work.

I'll need to map out all of the logic and try to prove it's not possible (to see where the buggy code is).

[2017-05-19 21:44] ariel-phet commented on #101
@jonathanolson this multitouch bug is not a concern and does not need to be fixed for publication

[2017-05-19 21:54] jonathanolson commented on #101
But it is not a multi-touch bug as noted above?

[2017-05-19 22:22] ariel-phet commented on #101
@jonathanolson is there any way to cause it without multitouch? If it is straightforward to fix, go ahead, but if it is a tricky fix and a highly unlikely user scenario it can be deferred

[2017-05-19 22:26] jonathanolson commented on #101
Tricky(ish) to identify the fix, probably a very simple fix. Mean time for identifying is probably an hour.

Defer and do another RC?

[2017-05-19 22:29] ariel-phet commented on #101
@jonathanolson yes please, defer and do another RC

[2017-05-23 17:22] phet-steele commented on #73
@jonathanolson actually, the paint drips are not centered anymore at low splotch areas. Is it possible to move the drip's "center" to the right a bit more to agree with the splotch center?

dev.27: drips nice and centered with splotch
![pp07](https://cloud.githubusercontent.com/assets/5863899/26366854/cfddf3a0-3fa9-11e7-8ab0-0f9ab35246d1.gif)

rc.1 & 2: drips offset too far left
![pp08](https://cl

[2017-05-30 16:09] jonathanolson commented on #73
@phet-steele, can you test this in master? I'll move this over to the release branch, as I believe the code that I had positioning the splotch was a bug.

[2017-05-30 20:37] ariel-phet commented on #1
## Design
- [ ] **Sim folder and design doc created** (Date: //)
  - [ ] Create sim folder in [PhET Sim Design Folder](https://drive.google.com/drive/folders/0B6CMwxdP0NGYUUhvZnlCUDF0bGc) using phet-docs account
  - [ ] Place design doc in the sim folder
- [ ] **Sim suggestions doc reviewed**
- [ ] **Learning goals and standards identified** (Date: //)
- [ ] **Design concept complete**  (Date: //)

[2017-05-30 21:24] phet-steele commented on #73
@jonathanolson the paint looks great now!

[2017-05-30 21:24] #73 closed

[2017-05-31 14:43] amanda-phet opened #102 "Screenshot needed"
@phet-steele can you please take a screenshot for publication using the iPad?

If you have thoughts about a good screenshot please chime in, but I figure this one will work well. If you wanted to snap the screenshot while the ball is still in motion (after 3 bounces maybe) that works too!

<img width="917" alt="screen shot 2017-05-31 at 8 40 24 am" src="https://cloud.githubusercontent.com/assets/7

[2017-05-31 16:13] phet-steele commented on #102
@amanda-phet please look at the screenshot in the above commit. If all is well, assign to @jonathanolson to cherry-pick the commit to 1.0

[2017-05-31 17:20] ariel-phet commented on #102
@phet-steele as per our new policy, please take a few additional screenshots so I can use them on Edmodo and such.

[2017-05-31 17:23] phet-steele commented on #102
I already have, just waiting on the approval of this one. Don't worry man I got it handled!

[2017-05-31 17:51] amanda-phet commented on #102
Looks good to me. Thank you!

Assigning to @jonathanolson to add this to 1.0.0. Once I have confirmation that the screenshot is good to go I can make the sim visible.

[2017-05-31 18:22] jonathanolson commented on #102
I manually added the screenshot to the 1.0 branch, generated the thumbnails and twitter card, and got the OK from @mattpen that its structure looks fine on phet-server.

@amanda-phet, feel free to make it visible whenever you are ready.

[2017-05-31 18:49] amanda-phet commented on #102
Done!

[2017-05-31 18:49] #102 closed

[2017-06-01 05:18] #71 closed

[2017-06-01 16:52] ariel-phet commented on #1
@amanda-phet I think everything left here is in your wheelhouse

[2017-06-06 17:36] amanda-phet opened #103 "Make a sim primer"
https://github.com/phetsims/proportion-playground/issues/1

[2017-06-06 17:36] #1 closed

[2017-06-14 18:54] jonathanolson commented on #101
Commit above makes this probably harder to occur, as it interrupts input on the non-active scene when switching.

[2018-01-24 18:29] amanda-phet commented on #103
Published to the site earlier this week. Closing.

[2018-01-24 18:29] #103 closed

[2018-12-12 19:17] zepumph opened #104 "use config with required params"
The phet-io team stumbled across usages of required params in optional options objects. We didn't know how to proceed. Over to you to remark required params as optional, or to fix usages. We also thought that assertions should be used for any required config keys to make sure they were provided.

issues seen in SceneNode and BilliardsTableControl.

Like:
[code]

[2018-12-13 03:16] jonathanolson commented on #104
Fixed up in this case. I think the general decision was to only update `options` to `config` where required when we run across them, instead of examining all cases. Is that correct?

[2018-12-13 17:06] zepumph commented on #104
Yeah that sounds appropriate. I wasn't aware that there were older usages of requred params in options. That makes more sense.

[2018-12-13 17:06] #104 closed

[2019-04-16 18:15] KatieWoe opened #105 "Usability on small screen review"
Per @kathy-phet's request in https://github.com/phetsims/QA/issues/295 I am making issues in each published sim repo detailing the pointer areas and usability of sims on phone sized screens.  Done on an iPhone 7 iOS 12 device.

Potential Difficulties Noticed:
* None seen

Screenshots:
![Image from iOS (1)](https://user-images.githubusercontent.com/41024075/56233877-48153180-6041-11e9-8b4a-25c03368

[2019-04-16 18:15] #105 closed

[2019-05-29 14:32] KatieWoe opened #106 "CT Duplicate Dependencies"
[code]

[2019-05-30 00:13] zepumph commented on #106
This will be covered by https://github.com/phetsims/axon/issues/250, closing

[2019-05-30 00:13] #106 closed